Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

architecture-downstream-uni02beta-trigger-job:
  parent: downstream-uni02beta-trigger-job
  description: 'This job will trigger a uni02beta-upstream job downstream.
  
    We can invoke this job by adding following comment
  
    `\trigger github-experimental` in the github pull request comment.
  
    These jobs runs in github-experimental-trigger pipeline.
  
  ...

rhoso-architecture-validate-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: hci

rhoso-architecture-validate-ovs-dpdk-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk-sriov

rhoso-architecture-validate-uni01alpha:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni01alpha

rhoso-architecture-validate-bgp:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp
    cifmw_networking_env_def_file: automation/net-env/bgp.yaml

rhoso-architecture-validate-bgp_dt01:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp_dt01

rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nfv-ovs-dpdk-sriov-hci

rhoso-architecture-validate-osasinfra:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: osasinfra

rhoso-architecture-validate-ovs-dpdk:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk

rhoso-architecture-validate-pidone:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: pidone
    cifmw_networking_env_def_file: automation/net-env/pidone.yaml

rhoso-architecture-validate-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: sriov

rhoso-architecture-validate-uni02beta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni02beta
    cifmw_networking_env_def_file: automation/net-env/uni02beta.yaml

rhoso-architecture-validate-uni04delta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta
    cifmw_networking_env_def_file: automation/net-env/uni04delta.yaml

rhoso-architecture-validate-uni04delta-ipv6:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta-ipv6
    cifmw_networking_env_def_file: automation/net-env/uni04delta-ipv6.yaml

rhoso-architecture-validate-uni05epsilon:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni05epsilon
    cifmw_networking_env_def_file: automation/net-env/uni05epsilon.yaml

rhoso-architecture-validate-uni06zeta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni06zeta
    cifmw_networking_env_def_file: automation/net-env/uni06zeta.yaml

rhoso-architecture-validate-uni07eta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni07eta
    cifmw_networking_env_def_file: automation/net-env/uni07eta.yaml

Deployed 16541a1 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Try just defining a new automation file for adoption
  automation/vars/hci-adoption.yaml
  examples/va/adoption/.gitignore
  examples/va/adoption/README.md
  examples/va/adoption/control-plane/.gitignore
  examples/va/adoption/control-plane/kustomization.yaml
  examples/va/adoption/control-plane/nncp/.gitignore
  examples/va/adoption/control-plane/nncp/kustomization.yaml
  examples/va/adoption/control-plane/nncp/values.yaml
  examples/va/adoption/networking.yaml
  va/adoption/README.md
  va/adoption/kustomization.yaml
  va/adoption/namespace.yaml
  va/adoption/networking/metallb/kustomization.yaml
  va/adoption/networking/metallb/metallb_l2advertisement.yaml
  va/adoption/networking/metallb/ocp_ip_pools.yaml
  va/adoption/networking/nad/kustomization.yaml
  va/adoption/networking/nad/ocp_networks_netattach.yaml
  va/adoption/networking/netconfig/kustomization.yaml
  va/adoption/nncp/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Glance DCN: Remove unnecessary configuration and default to az0
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/service-values.yaml
Due: none

DT - BMO deploy with preprovisioningNetworkData
  .ci/automation-schema.yaml
  automation/mocks/bmo01.yaml
  automation/net-env/bmo01.yaml
  automation/vars/bmo01.yaml
  dt/bmo01/dataplane/baremetalhosts/baremetalhost_template.yaml
  dt/bmo01/dataplane/baremetalhosts/baremetalhosts.yaml
  dt/bmo01/dataplane/baremetalhosts/kustomization.yaml
  dt/bmo01/dataplane/kustomization.yaml
  dt/bmo01/dataplane/nodesets/kustomization.yaml
  dt/bmo01/dataplane/nodesets/network-data-secrets.yaml
  dt/bmo01/dataplane/nodesets/openstackdataplanenodesets.yaml
  dt/bmo01/dataplane/secrets/dataplane-ssh-secret.yaml
  dt/bmo01/dataplane/secrets/kustomization.yaml
  dt/bmo01/dataplane/secrets/nova-migration-ssh-secret.yaml
  dt/bmo01/kustomization.yaml
  dt/bmo01/netconfig/kustomization.yaml
  dt/bmo01/netconfig/netconfig.yaml
  dt/bmo01/nncp/kustomization.yaml
  examples/dt/bmo01/README.md
  examples/dt/bmo01/control-plane.md
  examples/dt/bmo01/control-plane/kustomization.yaml
  examples/dt/bmo01/control-plane/nncp/kustomization.yaml
  examples/dt/bmo01/control-plane/nncp/values.yaml
  examples/dt/bmo01/control-plane/service-values.yaml
  examples/dt/bmo01/data-plane.md
  examples/dt/bmo01/dataplane/baremetalhosts/bmc-secret.env
  examples/dt/bmo01/dataplane/baremetalhosts/kustomization.yaml
  examples/dt/bmo01/dataplane/baremetalhosts/values.yaml
  examples/dt/bmo01/dataplane/kustomization.yaml
  examples/dt/bmo01/dataplane/nodesets/kustomization.yaml
  examples/dt/bmo01/dataplane/nodesets/values.yaml
  examples/dt/bmo01/dataplane/secrets/kustomization.yaml
  examples/dt/bmo01/dataplane/secrets/values.yaml
  examples/dt/bmo01/dataplane/values.yaml
  examples/dt/bmo01/osp-k8s-spine-leaf.svg
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Deployed 652e706 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 60a0c91 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

DNM - Testing cifmw NVF adoption job
  automation/vars/nfv-ovs-dpdk-sriov-adoption.yaml
Due: none

Add telemetry metricStorage for NFV
  examples/va/nfv/ovs-dpdk-sriov/service-values.yaml
  va/nfv/ovs-dpdk-sriov/kustomization.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk

NFV adoption job patch
  automation/vars/nfv-ovs-dpdk-sriov-adoption.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Deployed 6be7219 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update Glance edge pod replica count from 3 to 1
  examples/dt/dcn/service-values.yaml
Due: none

Deployed 84c84d0 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable telemetry in OSASINFRA DT
  dt/osasinfra/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/osasinfra/control-plane.md
  examples/dt/osasinfra/service-values.yaml
  examples/dt/osasinfra/values.yaml
Due: rhoso-architecture-validate-osasinfra

Use bmhLabelSelector in DT bmo01
  examples/dt/bmo01/dataplane/baremetalhosts/values.yaml
  examples/dt/bmo01/dataplane/nodesets/values.yaml
Due: none

Deployed b2662a0 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[BGP] Add AZs to schedule Octavia mgmt network on OCP nodes
  dt/bgp/kustomization.yaml
  examples/dt/bgp/bgp_dt01/README.md
  examples/dt/bgp/bgp_dt01/control-plane/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/values.yaml
  examples/dt/bgp/control-plane/service-values.yaml
Due: rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01

[uni07eta] Bump edpm-deployment wait condition timout
  automation/vars/uni07eta.yaml
Due: none

Deployed 518a882 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

DCN Workaround to set Cinder uniquePodNames false
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Update kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

[uni04delta-ipv6] Add octavia
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/nad.yaml
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/README.md
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Update service-values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Bump edpm-deployment wait condition timout
  automation/vars/uni07eta.yaml
Due: none

Document OpenStackControlPlane overwrite pitfall
  docs/contributing/common-pitfalls.md
Due: none

Deployed bfb0e6a with MkDocs version: 1.6.1
  contributing/common-pitfalls/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

[UniAlpha][Octavia] Enable createDefaultLbMgmtNetwork and manageLbMgmtNetworks
  automation/vars/uni01alpha.yaml
  dt/bgp/kustomization.yaml
  dt/uni01alpha/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/nncp/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/values.yaml
  examples/dt/bgp/control-plane/nncp/values.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01

DCN DT: Add multicells
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/neutron_metadata.yaml
  examples/dt/dcn/README.md
  examples/dt/dcn/service-values.yaml
  examples/dt/dcn/values.yaml
Due: none

Deployed 949bdcd with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Edit contents of common-pitfalls document
  docs/contributing/common-pitfalls.md
Due: none

Distinguish between 'name\ and 'node_name' when configure node-3 nncp
  automation/net-env/uni04delta-ipv6.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Adjust iAd idddd AMove all changes under examples/dt/
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/ocp_worker_nodes.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Add worker node to automation/net-env/uni04delta-ipv6.yaml
  automation/net-env/uni04delta-ipv6.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/ocp_worker_nodes.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

[Draft] Add worke node to run test operator on uni04delta
  .gitignore
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/ocp_worker_nodes.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Deployed d74222b with MkDocs version: 1.6.1
  contributing/common-pitfalls/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

[BGP] Enable OVN routing
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Path conditions:
  architecture-downstream-uni02beta-trigger-job: any of: ^dt/uni02beta, ^lib, ^automation/vars/uni02beta.yaml
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib
