Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

architecture-downstream-uni02beta-trigger-job:
  parent: downstream-uni02beta-trigger-job
  description: 'This job will trigger a uni02beta-upstream job downstream.
  
    We can invoke this job by adding following comment
  
    `\trigger github-experimental` in the github pull request comment.
  
    These jobs runs in github-experimental-trigger pipeline.
  
  ...

rhoso-architecture-validate-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: hci

rhoso-architecture-validate-ovs-dpdk-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk-sriov

rhoso-architecture-validate-uni01alpha:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni01alpha

rhoso-architecture-validate-bgp:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp
    cifmw_networking_env_def_file: automation/net-env/bgp.yaml

rhoso-architecture-validate-bgp_dt01:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp_dt01

rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nfv-ovs-dpdk-sriov-hci

rhoso-architecture-validate-osasinfra:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: osasinfra

rhoso-architecture-validate-ovs-dpdk:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk

rhoso-architecture-validate-pidone:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: pidone
    cifmw_networking_env_def_file: automation/net-env/pidone.yaml

rhoso-architecture-validate-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: sriov

rhoso-architecture-validate-uni02beta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni02beta
    cifmw_networking_env_def_file: automation/net-env/uni02beta.yaml

rhoso-architecture-validate-uni04delta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta
    cifmw_networking_env_def_file: automation/net-env/uni04delta.yaml

rhoso-architecture-validate-uni04delta-ipv6:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta-ipv6
    cifmw_networking_env_def_file: automation/net-env/uni04delta-ipv6.yaml

rhoso-architecture-validate-uni05epsilon:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni05epsilon
    cifmw_networking_env_def_file: automation/net-env/uni05epsilon.yaml

rhoso-architecture-validate-uni06zeta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni06zeta
    cifmw_networking_env_def_file: automation/net-env/uni06zeta.yaml

rhoso-architecture-validate-uni07eta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni07eta
    cifmw_networking_env_def_file: automation/net-env/uni07eta.yaml

Try the 2 nics 2 bridges approach
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

[DCN] Explicitly set network availability zone parameters
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Deployed b7fcd01 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Explicitly set network availability zone parameters
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Enable telemetry in OSASINFRA DT
  dt/osasinfra/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/osasinfra/control-plane.md
  examples/dt/osasinfra/service-values.yaml
  examples/dt/osasinfra/values.yaml
Due: rhoso-architecture-validate-osasinfra

enable Octavia in uni-delta-ipv6
  dt/uni04delta-ipv6/control-plane/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Drop unused `ocp` values service and cluster cidr
  examples/dt/bmo01/control-plane/nncp/values.yaml
  examples/dt/uni01alpha/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni01alpha

Deployed d60373f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Add automation file for uni-alpha-adoption.
  automation/net-env/uni01alpha-adoption.yaml
  automation/vars/uni01alpha-adoption.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Set storage_availability_zone for DCN cinder backup
  examples/dt/dcn/service-values.yaml
Due: none

Deployed 5f1fef5 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 1100a50 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

OSASINFRA-IPV6 DT
  automation/vars/osasinfra-ipv6.yaml
  dt/osasinfra-ipv6/README.md
  dt/osasinfra-ipv6/edpm-post-ceph/deployment/kustomization.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/ceph_secret.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/extra_mounts.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/kustomization.yaml
  dt/osasinfra-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/osasinfra-ipv6/kustomization.yaml
  dt/osasinfra-ipv6/namespace.yaml
  dt/osasinfra-ipv6/nncp/kustomization.yaml
  dt/osasinfra-ipv6/ocp_networks_octavia_netattach.yaml
  examples/dt/osasinfra-ipv6/.gitignore
  examples/dt/osasinfra-ipv6/README.md
  examples/dt/osasinfra-ipv6/control-plane.md
  examples/dt/osasinfra-ipv6/control-plane/.gitignore
  examples/dt/osasinfra-ipv6/control-plane/kustomization.yaml
  examples/dt/osasinfra-ipv6/control-plane/nncp/.gitignore
  examples/dt/osasinfra-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/osasinfra-ipv6/control-plane/nncp/values.yaml
  examples/dt/osasinfra-ipv6/control-plane/service-values.yaml
  examples/dt/osasinfra-ipv6/dataplane-post-ceph.md
  examples/dt/osasinfra-ipv6/dataplane-pre-ceph.md
  examples/dt/osasinfra-ipv6/deployment/kustomization.yaml
  examples/dt/osasinfra-ipv6/deployment/values.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/.gitignore
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment/values.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/osasinfra-ipv6/kustomization.yaml
  examples/dt/osasinfra-ipv6/service-values.yaml
  examples/dt/osasinfra-ipv6/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-osasinfra

Deployed 8cbc28e with MkDocs version: 1.6.1
  404.html
  assets/stylesheets/main.0253249f.min.css
  assets/stylesheets/main.0253249f.min.css.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.6f8fc17f.min.css.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Switch to 1500 MTU consistently
  examples/dt/uni01alpha/control-plane/nncp/values.yaml
  examples/dt/uni02beta/control-plane/nncp/values.yaml
  examples/dt/uni06zeta/control-plane/nncp/values.yaml
  examples/dt/uni07eta/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Redefine uni05epsilon to deploy with 3 cells
  automation/vars/uni05epsilon.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/deployment/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/ceph-extra-mounts.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/ceph-secret.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/cinder-volume-nfs-secrets.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/cinder-volume-ontap-secrets.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/nova-custom-config.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/nova-custom-service.yaml
  dt/uni05epsilon/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/nncp/values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/deployment/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/deployment/values.yaml
  examples/dt/uni05epsilon/nodeset2/edpm-pre-ceph/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/edpm-pre-ceph/values.yaml
  examples/dt/uni05epsilon/nodeset2/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/values.yaml
  examples/dt/uni05epsilon/service-values.yaml
Due: rhoso-architecture-validate-uni05epsilon

Add nova 3 cell DT
  automation/vars/nova-three-cells.yaml
  dt/nova/nova-three-cells/README.md
  dt/nova/nova-three-cells/edpm/deployment/kustomization.yaml
  dt/nova/nova-three-cells/edpm/kustomization.yaml
  dt/nova/nova-three-cells/edpm/nodeset/kustomization.yaml
  dt/nova/nova-three-cells/edpm/nodeset/nova_cell_service.yaml
  dt/nova/nova-three-cells/kustomization.yaml
  dt/nova/nova-three-cells/namespace.yaml
  examples/dt/nova/nova-three-cells/README.md
  examples/dt/nova/nova-three-cells/control-plane.md
  examples/dt/nova/nova-three-cells/control-plane/kustomization.yaml
  examples/dt/nova/nova-three-cells/control-plane/nncp/kustomization.yaml
  examples/dt/nova/nova-three-cells/control-plane/nncp/values.yaml
  examples/dt/nova/nova-three-cells/control-plane/service-values.yaml
  examples/dt/nova/nova-three-cells/data-plane.md
  examples/dt/nova/nova-three-cells/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/deployment/values.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset/values.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset2/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset2/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

[DNM] Add power monitoring to uni alpha
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni01alpha/edpm/values.yaml
Due: rhoso-architecture-validate-uni01alpha

Enable Manila support in DCN jobs
  examples/dt/dcn/service-values.yaml
Due: none

[uni04delta-ipv6] Install conntrack tools on edpm nodse
  examples/dt/uni04delta-ipv6/values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Deployed 52dbf25 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Support new OpenStack initialization resource for RHOSO install
  examples/common/README.md
  examples/common/openstack/kustomization.yaml
  lib/openstack/kustomization.yaml
  lib/openstack/openstack_deploy.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Deployed d82dcc2 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Set Cinder customServiceConfig globally in DCN DT
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/service-values.yaml
Due: none

[DCN DT] Set table-id explicitly for routes
  examples/dt/dcn/control-plane/nncp/values.yaml
Due: none

[Draft] Split nvidia-mdev arch in two stages
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/control-plane/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/.gitignore
  examples/va/nvidia-mdev/control-plane/nncp/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/values.yaml
  examples/va/nvidia-mdev/control-plane/service-values.yaml
  examples/va/nvidia-mdev/edpm-post-driver/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/deployment/values.yaml
  examples/va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm/nodeset/values.yaml
  examples/va/nvidia-mdev/kustomization.yaml
  examples/va/nvidia-mdev/service-values.yaml
  va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/kustomization.yaml
Due: none

Multiple nodesets for ovs-dpdk-sriov scenario
  automation/vars/ovs-dpdk-sriov-2nodesets.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/baremetalset-password-secret.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/kustomization.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/neutron_igmp.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/nova_ovs_dpdk_sriov.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/nncp/kustomization.yaml
  lib/dataplane/nodeset2/dataplane-ssh-secret.yaml
  lib/dataplane/nodeset2/kustomization.yaml
  lib/dataplane/nodeset2/nova-migration-ssh-secret.yaml
  lib/dataplane/nodeset2/openstackdataplanenodeset.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Add NFS network for Manila to uni04delta
  automation/net-env/uni04delta.yaml
  dt/uni04delta/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/uni04delta/edpm/nodeset/kustomization.yaml
  dt/uni04delta/kustomization.yaml
  dt/uni04delta/networking/metallb/kustomization.yaml
  dt/uni04delta/networking/metallb/metallb_l2advertisement.yaml
  dt/uni04delta/networking/metallb/ocp_ip_pools.yaml
  dt/uni04delta/networking/nad/kustomization.yaml
  dt/uni04delta/networking/nad/ocp_networks_netattach.yaml
  dt/uni04delta/nncp/kustomization.yaml
  dt/uni04delta/nodeset/ceph/kustomization.yaml
  dt/uni04delta/nodeset/compute/kustomization.yaml
  examples/dt/uni04delta/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta/control-plane/nncp/values.yaml
  lib/nncp/ocp_nodes_nncp.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

DNM Add scaling down a DCN site
  dt/dcn/control-plane/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/service-values.yaml
Due: none

Add nova 3 cell DT
  automation/vars/nova-three-cells.yaml
  dt/nova/nova-three-cells/README.md
  dt/nova/nova-three-cells/edpm/deployment/kustomization.yaml
  dt/nova/nova-three-cells/edpm/kustomization.yaml
  dt/nova/nova-three-cells/edpm/nodeset/kustomization.yaml
  dt/nova/nova-three-cells/kustomization.yaml
  dt/nova/nova-three-cells/namespace.yaml
  examples/dt/nova/nova-three-cells/README.md
  examples/dt/nova/nova-three-cells/control-plane.md
  examples/dt/nova/nova-three-cells/control-plane/kustomization.yaml
  examples/dt/nova/nova-three-cells/control-plane/nncp/kustomization.yaml
  examples/dt/nova/nova-three-cells/control-plane/nncp/values.yaml
  examples/dt/nova/nova-three-cells/control-plane/service-values.yaml
  examples/dt/nova/nova-three-cells/data-plane.md
  examples/dt/nova/nova-three-cells/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/deployment/values.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset/values.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset2/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset2/nova_cell2_service.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset2/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Deployed 5576566 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  architecture-downstream-uni02beta-trigger-job: any of: ^dt/uni02beta, ^lib, ^automation/vars/uni02beta.yaml
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib
