Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Path conditions:
  architecture-downstream-uni02beta-trigger-job: any of: ^dt/uni02beta, ^lib, ^automation/vars/uni02beta.yaml
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib

[BGP] Remove L2Advertisements
  examples/dt/bgp_dt01/control-plane/kustomization.yaml
Due: none

Remove L2Advertisements
  examples/dt/bgp_dt01/control-plane/kustomization.yaml
Due: none

external netwrok list missing
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/values.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk

Add release branch sync workflow
  .github/workflows/release-branch-sync.yaml
Due: none

Deployed 6de554a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Revert "[BGP] Fix EDPM hostnames"
  examples/dt/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: none

Revert "[BGP] Disable BFD"
  examples/dt/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: none

Decouple uni06zeta network stage from control plane stage
  automation/vars/uni06zeta-adoption.yaml
  automation/vars/uni06zeta.yaml
  dt/uni06zeta/kustomization.yaml
  dt/uni06zeta/networking/kustomization.yaml
  dt/uni06zeta/networking/resources/octavia-network-attachment-definition.yaml
  dt/uni06zeta/resources/octavia-network-attachment-defintion.yaml
  examples/dt/uni06zeta/control-plane.md
  examples/dt/uni06zeta/control-plane/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/nncp/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni06zeta

Decouple uni05epsilon network from control plane
  automation/net-env/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon.yaml
  dt/uni05epsilon/kustomization.yaml
  dt/uni05epsilon/networking/kustomization.yaml
  examples/dt/uni05epsilon/control-plane.md
  examples/dt/uni05epsilon/control-plane/networking/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/nncp/values.yaml
  examples/dt/uni05epsilon/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni05epsilon

Added named stages for all the unijobs in automation/vars
  .ci/automation-schema.yaml
  automation/vars/hci-adoption.yaml
  automation/vars/hci.yaml
  automation/vars/uni01alpha-adoption.yaml
  automation/vars/uni01alpha.yaml
  automation/vars/uni02beta.yaml
  automation/vars/uni04delta-adoption.yaml
  automation/vars/uni04delta-ipv6.yaml
  automation/vars/uni04delta.yaml
  automation/vars/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon.yaml
  automation/vars/uni06zeta-adoption.yaml
  automation/vars/uni06zeta.yaml
  automation/vars/uni07eta.yaml
Due: architecture-downstream-uni02beta-trigger-job

[BGP] Deploy frr after configure-os
  examples/dt/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: none

Deployed 408c010 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy frr after configure-os
  examples/dt/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: none

Add bgp-l3-xl dt
  automation/mocks/bgp-l3-xl.yaml
  automation/vars/bgp-l3-xl.yaml
  dt/bgp/kustomization.yaml
  examples/dt/bgp-l3-xl/control-plane/kustomization.yaml
  examples/dt/bgp-l3-xl/control-plane/metallb_bgppeers.yaml
  examples/dt/bgp-l3-xl/control-plane/nncp/.gitignore
  examples/dt/bgp-l3-xl/control-plane/nncp/kustomization.yaml
  examples/dt/bgp-l3-xl/control-plane/nncp/ocp_worker_nodes_nncp.yaml
  examples/dt/bgp-l3-xl/control-plane/nncp/values.yaml
  examples/dt/bgp-l3-xl/control-plane/ocp_network_template.yaml
  examples/dt/bgp-l3-xl/control-plane/ocp_networks_netattach.yaml
  examples/dt/bgp-l3-xl/control-plane/service-values.yaml
  examples/dt/bgp-l3-xl/control-plane/tuned
  examples/dt/bgp-l3-xl/edpm/computes/r0/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r0/values.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r1/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r1/values.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r2/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r2/values.yaml
  examples/dt/bgp-l3-xl/edpm/deployment/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/deployment/values.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r0/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r0/values.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r1/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r1/values.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r2/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r2/values.yaml
  examples/dt/bgp-l3-xl/metallb/README.md
  examples/dt/bgp-l3-xl/metallb/kustomization.yaml
  lib/nncp-l3/ocp_node_template.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Add dt for telemtery install and watcher execution
  automation/vars/watcher.yaml
  dt/watcher/README.md
  dt/watcher/edpm/kustomization.yaml
  dt/watcher/kustomization.yaml
  dt/watcher/namespace.yaml
  examples/dt/watcher/control-plane/kustomization.yaml
  examples/dt/watcher/control-plane/service-values.yaml
Due: none

[NFV] Deploy Networker in ovs-dpdk-sriov scenario
  automation/mocks/ovs-dpdk-sriov-networker.yaml
  automation/vars/ovs-dpdk-sriov-networker.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/dataplane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/service-values.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
  lib/dataplane/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/neutron_igmp.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Remove telemetry metricStorage for NFV
  examples/va/nfv/ovs-dpdk-sriov/service-values.yaml
  va/nfv/ovs-dpdk-sriov/kustomization.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk

Add bgp-l3-xl dt
  automation/mocks/bgp-l3-xl.yaml
  automation/vars/bgp-l3-xl.yaml
  dt/bgp/kustomization.yaml
  examples/dt/bgp-l3-xl/README.md
  examples/dt/bgp-l3-xl/bgp-configuration.md
  examples/dt/bgp-l3-xl/configure-taints.md
  examples/dt/bgp-l3-xl/control-plane.md
  examples/dt/bgp-l3-xl/control-plane/kustomization.yaml
  examples/dt/bgp-l3-xl/control-plane/metallb_bgppeers.yaml
  examples/dt/bgp-l3-xl/control-plane/nncp/.gitignore
  examples/dt/bgp-l3-xl/control-plane/nncp/kustomization.yaml
  examples/dt/bgp-l3-xl/control-plane/nncp/ocp_worker_nodes_nncp.yaml
  examples/dt/bgp-l3-xl/control-plane/nncp/values.yaml
  examples/dt/bgp-l3-xl/control-plane/ocp_network_template.yaml
  examples/dt/bgp-l3-xl/control-plane/ocp_networks_netattach.yaml
  examples/dt/bgp-l3-xl/control-plane/service-values.yaml
  examples/dt/bgp-l3-xl/control-plane/tuned
  examples/dt/bgp-l3-xl/data-plane.md
  examples/dt/bgp-l3-xl/disable-rp-filters.md
  examples/dt/bgp-l3-xl/edpm/computes/r0/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r0/values.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r1/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r1/values.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r2/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/computes/r2/values.yaml
  examples/dt/bgp-l3-xl/edpm/deployment/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/deployment/values.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r0/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r0/values.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r1/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r1/values.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r2/kustomization.yaml
  examples/dt/bgp-l3-xl/edpm/networkers/r2/values.yaml
  examples/dt/bgp-l3-xl/metallb/README.md
  examples/dt/bgp-l3-xl/metallb/kustomization.yaml
  lib/nncp-l3/ocp_node_template.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Deployed 529cc83 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

enable octavia in uni02beta
  dt/uni02beta/kustomization.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-uni02beta

Deployed f227563 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Rever nncp-l3 change and switch to dedicated dir
  examples/dt/bgp-l3-xl/control-plane/nncp/kustomization.yaml
  lib/nncp-l3-xl/kustomization.yaml
  lib/nncp-l3-xl/ocp_node_template.yaml
  lib/nncp-l3-xl/ocp_nodes_nncp.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Revert "Revert "[BGP] Disable BFD""
  examples/dt/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: none

Create Nova Multinodset hybrid job
  automation/vars/nova02beta.yaml
  dt/nova/nova02beta/README.md
  dt/nova/nova02beta/edpm/deployment/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset/baremetalset-password-secret.yaml
  dt/nova/nova02beta/edpm/nodeset/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset/nova_sriov.yaml
  dt/nova/nova02beta/edpm/nodeset2/baremetalset-password-secret.yaml
  dt/nova/nova02beta/edpm/nodeset2/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset2/nova_sriov.yaml
  dt/nova/nova02beta/kustomization.yaml
  dt/nova/nova02beta/namespace.yaml
  examples/dt/nova/nova02beta/.gitignore
  examples/dt/nova/nova02beta/README.md
  examples/dt/nova/nova02beta/control-plane.md
  examples/dt/nova/nova02beta/dataplane.md
  examples/dt/nova/nova02beta/edpm/.gitignore
  examples/dt/nova/nova02beta/edpm/deployment/.gitignore
  examples/dt/nova/nova02beta/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/deployment/values.yaml
  examples/dt/nova/nova02beta/edpm/nodeset/.gitignore
  examples/dt/nova/nova02beta/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/nodeset/values.yaml
  examples/dt/nova/nova02beta/edpm/nodeset2/.gitignore
  examples/dt/nova/nova02beta/edpm/nodeset2/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/nodeset2/values.yaml
  examples/dt/nova/nova02beta/kustomization.yaml
  examples/dt/nova/nova02beta/nncp/kustomization.yaml
  examples/dt/nova/nova02beta/nncp/values.yaml
  examples/dt/nova/nova02beta/service-values.yaml
Due: none

Add names to BGP automation steps
  automation/vars/bgp-l3-xl.yaml
  automation/vars/bgp_dt01.yaml
Due: none

[BGP] Remove ctlplane from NNCP
  examples/dt/bgp-l3-xl/control-plane/nncp/kustomization.yaml
  examples/dt/bgp_dt01/control-plane/nncp/kustomization.yaml
  lib/nncp-l3/kustomization.yaml
  lib/nncp-l3/ocp_node_template.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Add more time to NFV nodeset
  automation/vars/nfv-ovs-dpdk-sriov-hci.yaml
  automation/vars/ovs-dpdk-sriov-2nodesets.yaml
  automation/vars/ovs-dpdk-sriov.yaml
  automation/vars/ovs-dpdk.yaml
Due: none

Deployed 6ab2341 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[NFV] Deploy Networker in ovs-dpdk-sriov scenario
  automation/mocks/ovs-dpdk-sriov-networker.yaml
  automation/vars/ovs-dpdk-sriov-networker.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/dataplane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/service-values.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
  lib/dataplane/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Add dt for telemtery install and watcher execution
  automation/vars/watcher.yaml
  dt/watcher/README.md
  dt/watcher/edpm/kustomization.yaml
  dt/watcher/kustomization.yaml
  dt/watcher/namespace.yaml
  examples/dt/watcher/control-plane/kustomization.yaml
  examples/dt/watcher/control-plane/nncp/kustomization.yaml
  examples/dt/watcher/control-plane/nncp/values.yaml
  examples/dt/watcher/control-plane/service-values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Decouple uni04delta-ipv6 network stage from control plane stage
  automation/mocks/uni04delta-ipv6-adoption.yaml
  automation/net-env/uni04delta-ipv6-adoption.yaml
  automation/vars/uni04delta-ipv6-adoption.yaml
  automation/vars/uni04delta-ipv6.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/networking/kustomization.yaml
  dt/uni04delta-ipv6/networking/nad.yaml
  dt/uni04delta-ipv6/networking/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/networking/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/.gitignore
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/ocp_worker_nodes.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/values.yaml
  examples/dt/uni04delta-ipv6/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Deployed 3b90625 with MkDocs version: 1.6.1
  404.html
  assets/stylesheets/main.2afb09e1.min.css
  assets/stylesheets/main.2afb09e1.min.css.map
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add nvidia-mdev mutli-type VA
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/.gitignore
  examples/va/nvidia-mdev/README.md
  examples/va/nvidia-mdev/control-plane.md
  examples/va/nvidia-mdev/control-plane/.gitignore
  examples/va/nvidia-mdev/control-plane/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/.gitignore
  examples/va/nvidia-mdev/control-plane/nncp/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/values.yaml
  examples/va/nvidia-mdev/control-plane/service-values.yaml
  examples/va/nvidia-mdev/dataplane.md
  examples/va/nvidia-mdev/edpm-post-driver/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/deployment/values.yaml
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/values.yaml
  examples/va/nvidia-mdev/edpm/.gitignore
  examples/va/nvidia-mdev/edpm/deployment/.gitignore
  examples/va/nvidia-mdev/edpm/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm/deployment/values.yaml
  examples/va/nvidia-mdev/edpm/nodeset/.gitignore
  examples/va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm/nodeset/values.yaml
  va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  va/nvidia-mdev/edpm-post-driver/nodeset/kustomization.yaml
  va/nvidia-mdev/edpm-post-driver/nodeset/nova_provider.yaml
  va/nvidia-mdev/edpm/deployment/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/baremetalset-password-secret.yaml
  va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/nova_sriov.yaml
  va/nvidia-mdev/kustomization.yaml
  va/nvidia-mdev/namespace.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none
