Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

architecture-downstream-uni02beta-trigger-job:
  parent: downstream-uni02beta-trigger-job
  description: 'This job will trigger a uni02beta-upstream job downstream.
  
    We can invoke this job by adding following comment
  
    `\trigger github-experimental` in the github pull request comment.
  
    These jobs runs in github-experimental-trigger pipeline.
  
  ...

rhoso-architecture-validate-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: hci

rhoso-architecture-validate-ovs-dpdk-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk-sriov

rhoso-architecture-validate-uni01alpha:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni01alpha

rhoso-architecture-validate-bgp:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp
    cifmw_networking_env_def_file: automation/net-env/bgp.yaml

rhoso-architecture-validate-bgp_dt01:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp_dt01

rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nfv-ovs-dpdk-sriov-hci

rhoso-architecture-validate-osasinfra:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: osasinfra

rhoso-architecture-validate-ovs-dpdk:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk

rhoso-architecture-validate-pidone:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: pidone
    cifmw_networking_env_def_file: automation/net-env/pidone.yaml

rhoso-architecture-validate-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: sriov

rhoso-architecture-validate-uni02beta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni02beta
    cifmw_networking_env_def_file: automation/net-env/uni02beta.yaml

rhoso-architecture-validate-uni04delta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta
    cifmw_networking_env_def_file: automation/net-env/uni04delta.yaml

rhoso-architecture-validate-uni04delta-ipv6:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta-ipv6
    cifmw_networking_env_def_file: automation/net-env/uni04delta-ipv6.yaml

rhoso-architecture-validate-uni05epsilon:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni05epsilon
    cifmw_networking_env_def_file: automation/net-env/uni05epsilon.yaml

rhoso-architecture-validate-uni06zeta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni06zeta
    cifmw_networking_env_def_file: automation/net-env/uni06zeta.yaml

rhoso-architecture-validate-uni07eta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni07eta
    cifmw_networking_env_def_file: automation/net-env/uni07eta.yaml

Update examples/dt/uni01alpha/control-plane.md
  examples/dt/uni01alpha/control-plane.md
Due: rhoso-architecture-validate-uni01alpha

Decouple uni02beta network from control plane
  automation/net-env/uni02beta-adoption.yaml
  automation/vars/uni02beta-adoption.yaml
  dt/uni02beta/networking/kustomization.yaml
  examples/dt/uni02beta/control-plane.md
  examples/dt/uni02beta/control-plane/kustomization.yaml
  examples/dt/uni02beta/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni02beta/control-plane/networking/nncp/nodes.yaml
  examples/dt/uni02beta/control-plane/networking/nncp/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-uni02beta

Base definitions for uni02beta-adoption
  automation/net-env/uni02beta-adoption.yaml
  automation/vars/uni02beta-adoption.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

BGP controlplane Pure L3 Spine&Leaf
  automation/mocks/bgp_dt01.yaml
  automation/vars/bgp_dt01.yaml
  dt/bgp/edpm/nodeset/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/nncp/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/nncp/values.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r0/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r1/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r2/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/deployment/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r0/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r1/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r2/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r2/values.yaml
  lib/nncp-l3/kustomization.yaml
  lib/nncp-l3/ocp_node_template.yaml
  lib/nncp-l3/ocp_nodes_nncp.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Adapt BGP DT01 documentation to Pure L3 Spine&Leaf
  examples/dt/bgp/bgp_dt01/README.md
  examples/dt/bgp/bgp_dt01/bgp-configuration.md
  examples/dt/bgp/bgp_dt01/data-plane.md
  examples/dt/bgp/bgp_dt01/disable-rp-filters.md
Due: none

[DCN] Support Manila Shares with Local Ceph Clusters in DCN
  dt/dcn/control-plane/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/service-values.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Deployed 0046952 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Add nova01alpha DT
  automation/vars/nova01alpha.yaml
  dt/nova/nova01alpha/README.md
  dt/nova/nova01alpha/edpm/deployment/kustomization.yaml
  dt/nova/nova01alpha/edpm/nodeset/kustomization.yaml
  dt/nova/nova01alpha/edpm/nodeset/nova_pinning.yaml
  dt/nova/nova01alpha/kustomization.yaml
  dt/nova/nova01alpha/namespace.yaml
  examples/dt/nova/nova01alpha/.gitignore
  examples/dt/nova/nova01alpha/README.md
  examples/dt/nova/nova01alpha/control-plane.md
  examples/dt/nova/nova01alpha/dataplane.md
  examples/dt/nova/nova01alpha/edpm/.gitignore
  examples/dt/nova/nova01alpha/edpm/deployment/.gitignore
  examples/dt/nova/nova01alpha/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova01alpha/edpm/deployment/values.yaml
  examples/dt/nova/nova01alpha/edpm/nodeset/.gitignore
  examples/dt/nova/nova01alpha/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova01alpha/edpm/nodeset/values.yaml
  examples/dt/nova/nova01alpha/kustomization.yaml
  examples/dt/nova/nova01alpha/nncp/kustomization.yaml
  examples/dt/nova/nova01alpha/nncp/values.yaml
  examples/dt/nova/nova01alpha/service-values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Try just defining a new automation file for adoption
  automation/vars/hci-adoption.yaml
  examples/va/adoption/.gitignore
  examples/va/adoption/README.md
  examples/va/adoption/control-plane/.gitignore
  examples/va/adoption/control-plane/kustomization.yaml
  examples/va/adoption/control-plane/nncp/.gitignore
  examples/va/adoption/control-plane/nncp/kustomization.yaml
  examples/va/adoption/control-plane/nncp/values.yaml
  examples/va/adoption/networking.yaml
  va/adoption/README.md
  va/adoption/kustomization.yaml
  va/adoption/namespace.yaml
  va/adoption/networking/metallb/kustomization.yaml
  va/adoption/networking/metallb/metallb_l2advertisement.yaml
  va/adoption/networking/metallb/ocp_ip_pools.yaml
  va/adoption/networking/nad/kustomization.yaml
  va/adoption/networking/nad/ocp_networks_netattach.yaml
  va/adoption/networking/netconfig/kustomization.yaml
  va/adoption/nncp/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Add an adoption VA to setup networking
  automation/vars/adoption.yaml
  examples/va/adoption/.gitignore
  examples/va/adoption/README.md
  examples/va/adoption/control-plane/.gitignore
  examples/va/adoption/control-plane/kustomization.yaml
  examples/va/adoption/control-plane/nncp/.gitignore
  examples/va/adoption/control-plane/nncp/kustomization.yaml
  examples/va/adoption/control-plane/nncp/values.yaml
  examples/va/adoption/networking.yaml
  va/adoption/README.md
  va/adoption/kustomization.yaml
  va/adoption/namespace.yaml
  va/adoption/networking/metallb/kustomization.yaml
  va/adoption/networking/metallb/metallb_l2advertisement.yaml
  va/adoption/networking/metallb/ocp_ip_pools.yaml
  va/adoption/networking/nad/kustomization.yaml
  va/adoption/networking/nad/ocp_networks_netattach.yaml
  va/adoption/networking/netconfig/kustomization.yaml
  va/adoption/nncp/kustomization.yaml
Due: none

[18.0-fr1] Decouple VA1 network stage from control plane stage
  automation/vars/hci-adoption.yaml
  automation/vars/hci.yaml
  examples/va/hci/control-plane.md
  examples/va/hci/control-plane/kustomization.yaml
  examples/va/hci/control-plane/networking/kustomization.yaml
  examples/va/hci/control-plane/networking/nncp/.gitignore
  examples/va/hci/control-plane/networking/nncp/kustomization.yaml
  examples/va/hci/control-plane/networking/nncp/values.yaml
  examples/va/hci/kustomization.yaml
  va/hci/kustomization.yaml
  va/hci/networking/kustomization.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-hci

DNM/WIP Octavia DCN support
  automation/net-env/dcn.yaml
  dt/dcn/kustomization.yaml
  dt/dcn/nad.yaml
  dt/dcn/nncp/kustomization.yaml
  examples/dt/dcn/control-plane/nncp/kustomization.yaml
  examples/dt/dcn/control-plane/nncp/values.yaml
Due: none

Decouple uni05epsilon network from control plane
  automation/net-env/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon.yaml
  dt/uni05epsilon/networking/kustomization.yaml
  examples/dt/uni05epsilon/control-plane.md
  examples/dt/uni05epsilon/control-plane/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/nncp/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni05epsilon

Update COO sub channel to stable
  examples/dt/uni01alpha/control-plane.md
  lib/olm-deps/coo_subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Redefine uni05epsilon to deploy with 3 cells
  automation/vars/uni05epsilon.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/deployment/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/ceph-extra-mounts.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/ceph-secret.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/cinder-volume-nfs-secrets.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/cinder-volume-ontap-secrets.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/nova-custom-config.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/nova-custom-service.yaml
  dt/uni05epsilon/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/nncp/values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/deployment/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/deployment/values.yaml
  examples/dt/uni05epsilon/nodeset2/edpm-pre-ceph/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/edpm-pre-ceph/values.yaml
  examples/dt/uni05epsilon/nodeset2/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/values.yaml
  examples/dt/uni05epsilon/service-values.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni05epsilon

Deployed 9211479 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 6963228 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable Octavia in DCN
  dt/dcn/control-plane/kustomization.yaml
  dt/dcn/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/service-values.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Switch back to 1.0.3. 1.0.5 cannot be installed with non-trunk content.
  lib/olm-openstack/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Fix typo.
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

v1.0.3 (18.0.2) still has the ansibleee operator.
  lib/olm-openstack/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

[DNM] Deploy a specific old version.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/catalogsource.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/keystone-subscription.yaml
  lib/olm-openstack/kustomization.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Hardcoded image for the catalog source.
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Fix catalog source.
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

NFV EDPM OVS DPDK with Netoworker OVS DPDK
  examples/va/nfv/ovs-dpdk-networker/.gitignore
  examples/va/nfv/ovs-dpdk-networker/README.md
  examples/va/nfv/ovs-dpdk-networker/control-plane.md
  examples/va/nfv/ovs-dpdk-networker/dataplane.md
  examples/va/nfv/ovs-dpdk-networker/edpm/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/values.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk-networker/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/.gitignore
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/.gitignore
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk-networker/nncp/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/nncp/values.yaml
  examples/va/nfv/ovs-dpdk-networker/service-values.yaml
  lib/dataplane/networker-nodeset/dataplane-ssh-secret.yaml
  lib/dataplane/networker-nodeset/kustomization.yaml
  lib/dataplane/networker-nodeset/openstackdataplanenodeset.yaml
  va/nfv/ovs-dpdk-networker/README.md
  va/nfv/ovs-dpdk-networker/edpm/deployment/kustomization.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/nova_ovs_dpdk.yaml
  va/nfv/ovs-dpdk-networker/kustomization.yaml
  va/nfv/ovs-dpdk-networker/namespace.yaml
  va/nfv/ovs-dpdk-networker/networker/nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Deployed 52aa6a9 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Decouple uni06zeta network stage from control plane stage
  automation/vars/uni06zeta-adoption.yaml
  automation/vars/uni06zeta.yaml
  dt/uni06zeta/kustomization.yaml
  dt/uni06zeta/networking/kustomization.yaml
  dt/uni06zeta/networking/resources/octavia-network-attachment-definition.yaml
  dt/uni06zeta/resources/octavia-network-attachment-defintion.yaml
  examples/dt/uni06zeta/control-plane.md
  examples/dt/uni06zeta/control-plane/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/nncp/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni06zeta

[DNM] Testing name field in automation steps
  automation/vars/hci.yaml
Due: none

[BGP_DT01] edpm_frr_bgp_uplinks removed from EDPM CRs
  examples/dt/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: none

Deployed 189477e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[BGP] Fix EDPM hostnames
  examples/dt/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: none

Increase timeout in uni01alpha
  automation/vars/uni01alpha.yaml
Due: none

Path conditions:
  architecture-downstream-uni02beta-trigger-job: any of: ^dt/uni02beta, ^lib, ^automation/vars/uni02beta.yaml
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib
