Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Path conditions:
  architecture-downstream-uni02beta-trigger-job: any of: ^dt/uni02beta, ^lib, ^automation/vars/uni02beta.yaml
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib

Deployed 8813a40 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  assets/javascripts/bundle.f13b1293.min.js
  assets/javascripts/bundle.f13b1293.min.js.map
  assets/stylesheets/main.a40c8224.min.css
  assets/stylesheets/main.a40c8224.min.css.map
  assets/stylesheets/main.d7758b05.min.css
  assets/stylesheets/main.d7758b05.min.css.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Increase data plane deployment timeout for uni06zeta
  automation/vars/uni06zeta.yaml
Due: none

DNM increase timeout for controlplane to come up
  automation/vars/sriov.yaml
Due: none

[Draft] Split nvidia-mdev arch in two stages
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/control-plane/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/.gitignore
  examples/va/nvidia-mdev/control-plane/nncp/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/values.yaml
  examples/va/nvidia-mdev/control-plane/service-values.yaml
  examples/va/nvidia-mdev/edpm-post-driver/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/deployment/values.yaml
  examples/va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm/nodeset/values.yaml
  examples/va/nvidia-mdev/kustomization.yaml
  examples/va/nvidia-mdev/service-values.yaml
  va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/kustomization.yaml
Due: none

NFV EDPM OVS DPDK with Netoworker OVS DPDK
  automation/mocks/ovs-dpdk-networker.yaml
  automation/vars/ovs-dpdk-networker.yaml
  examples/va/nfv/ovs-dpdk-networker/.gitignore
  examples/va/nfv/ovs-dpdk-networker/README.md
  examples/va/nfv/ovs-dpdk-networker/control-plane.md
  examples/va/nfv/ovs-dpdk-networker/dataplane.md
  examples/va/nfv/ovs-dpdk-networker/edpm/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/values.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk-networker/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/.gitignore
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/.gitignore
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk-networker/nncp/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/nncp/values.yaml
  examples/va/nfv/ovs-dpdk-networker/service-values.yaml
  lib/dataplane/networker-nodeset/dataplane-ssh-secret.yaml
  lib/dataplane/networker-nodeset/kustomization.yaml
  lib/dataplane/networker-nodeset/openstackdataplanenodeset.yaml
  va/nfv/ovs-dpdk-networker/README.md
  va/nfv/ovs-dpdk-networker/edpm/deployment/kustomization.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/nova_ovs_dpdk.yaml
  va/nfv/ovs-dpdk-networker/kustomization.yaml
  va/nfv/ovs-dpdk-networker/namespace.yaml
  va/nfv/ovs-dpdk-networker/networker/nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Remove reference to deleted downstream workflow
  .github/workflows/trigger-downstream-gh-action-job.yaml
Due: none

Deployed e7ae76e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Add scaling down a DCN site
  dt/dcn/control-plane/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/service-values.yaml
  examples/dt/dcn/dataplane-post-ceph.md
Due: none

Add telemetry metricStorage for NFV
  examples/va/nfv/ovs-dpdk-sriov/service-values.yaml
  va/nfv/ovs-dpdk-sriov/kustomization.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk

Decouple uni07eta network stage from control plane stage
  automation/vars/uni07eta.yaml
  dt/uni07eta/kustomization.yaml
  dt/uni07eta/networking/kustomization.yaml
  dt/uni07eta/nncp/kustomization.yaml
  examples/dt/uni07eta/control-plane.md
  examples/dt/uni07eta/control-plane/kustomization.yaml
  examples/dt/uni07eta/control-plane/networking/kustomization.yaml
  examples/dt/uni07eta/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni07eta/control-plane/networking/nncp/values.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni07eta

[DNM] Test update from v1.0.6
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/keystone-subscription.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

[DNM] Deploy a specific old version.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/catalogsource.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/keystone-subscription.yaml
  lib/olm-openstack/kustomization.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Switch back to 1.0.3. 1.0.5 cannot be installed with non-trunk content.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/kustomization.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Remove the ansiblee-subscription, just to make sure.
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Fix catalog url.
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Testing registry
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Switch to 1.0.5 and fix a typo.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/catalogsource.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/keystone-subscription.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Decouple VA1 network stage from control plane stage
  automation/vars/hci-adoption.yaml
  automation/vars/hci.yaml
  examples/va/hci/control-plane.md
  examples/va/hci/control-plane/kustomization.yaml
  examples/va/hci/control-plane/networking/kustomization.yaml
  examples/va/hci/control-plane/networking/nncp/.gitignore
  examples/va/hci/control-plane/networking/nncp/kustomization.yaml
  examples/va/hci/control-plane/networking/nncp/values.yaml
  examples/va/hci/kustomization.yaml
  va/hci/kustomization.yaml
  va/hci/networking/kustomization.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-hci

Add BarbicanSimpleCryptoKEK to osp-secret
  lib/control-plane/osp-secrets.env
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

[NFV] Deploy Networker in ovs-dpdk-sriov scenario
  automation/vars/ovs-dpdk-sriov-networker.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/dataplane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/service-values.yaml
  lib/dataplane/compute-nodeset
  lib/dataplane/networker-nodeset/dataplane-ssh-secret.yaml
  lib/dataplane/networker-nodeset/kustomization.yaml
  lib/dataplane/networker-nodeset/openstackdataplanenodeset.yaml
  va/nfv/ovs-dpdk-sriov/edpm/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/neutron_igmp.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Decouple uni04delta network stage from control plane stage
  automation/net-env/uni04delta-adoption.yaml
  automation/vars/uni04delta-adoption.yaml
  automation/vars/uni04delta.yaml
  dt/uni04delta/kustomization.yaml
  dt/uni04delta/networking/kustomization.yaml
  examples/dt/uni04delta/control-plane.md
  examples/dt/uni04delta/control-plane/networking/kustomization.yaml
  examples/dt/uni04delta/control-plane/networking/nncp/.gitignore
  examples/dt/uni04delta/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni04delta/control-plane/networking/nncp/values.yaml
  examples/dt/uni04delta/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni04delta

[DCN] Support Manila Shares with Local Ceph Clusters in DCN
  dt/dcn/control-plane/kustomization.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Switch cinder uniquePodNames to true for DCN deployments
  dt/dcn/control-plane/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/service-values.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Deployed 32d7703 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.f13b1293.min.js
  assets/javascripts/bundle.f13b1293.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Base definitions for uni02beta-adoption
  automation/net-env/uni02beta-adoption.yaml
  automation/vars/uni02beta-adoption.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Decouple uni06zeta network stage from control plane stage
  automation/vars/uni06zeta-adoption.yaml
  dt/uni06zeta/kustomization.yaml
  dt/uni06zeta/networking/kustomization.yaml
  dt/uni06zeta/networking/resources/octavia-network-attachment-definition.yaml
  dt/uni06zeta/resources/octavia-network-attachment-defintion.yaml
  examples/dt/uni06zeta/control-plane.md
  examples/dt/uni06zeta/control-plane/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni06zeta/control-plane/networking/nncp/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni06zeta

Update NFV VAs to use network vanity names
  examples/va/nfv/ovs-dpdk-sriov/nncp/values.yaml
  examples/va/nfv/ovs-dpdk/nncp/values.yaml
  examples/va/nfv/sriov/nncp/values.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-sriov

BGP controlplane L3 separation
  automation/mocks/bgp_dt01.yaml
  automation/vars/bgp_dt01.yaml
  dt/bgp/edpm/nodeset/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/nncp/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/nncp/values.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r0/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r1/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r2/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/deployment/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r0/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r1/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r2/kustomization.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/r2/values.yaml
  lib/nncp-l3/kustomization.yaml
  lib/nncp-l3/ocp_node_template.yaml
  lib/nncp-l3/ocp_nodes_nncp.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Add nova01alpha DT
  automation/vars/nova01alpha.yaml
  dt/nova/nova01alpha/README.md
  dt/nova/nova01alpha/edpm/deployment/kustomization.yaml
  dt/nova/nova01alpha/edpm/nodeset/baremetalset-password-secret.yaml
  dt/nova/nova01alpha/edpm/nodeset/kustomization.yaml
  dt/nova/nova01alpha/edpm/nodeset/nova_pinning.yaml
  dt/nova/nova01alpha/kustomization.yaml
  dt/nova/nova01alpha/namespace.yaml
  examples/dt/nova/nova01alpha/.gitignore
  examples/dt/nova/nova01alpha/README.md
  examples/dt/nova/nova01alpha/control-plane.md
  examples/dt/nova/nova01alpha/dataplane.md
  examples/dt/nova/nova01alpha/edpm/.gitignore
  examples/dt/nova/nova01alpha/edpm/deployment/.gitignore
  examples/dt/nova/nova01alpha/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova01alpha/edpm/deployment/values.yaml
  examples/dt/nova/nova01alpha/edpm/nodeset/.gitignore
  examples/dt/nova/nova01alpha/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova01alpha/edpm/nodeset/values.yaml
  examples/dt/nova/nova01alpha/kustomization.yaml
  examples/dt/nova/nova01alpha/nncp/kustomization.yaml
  examples/dt/nova/nova01alpha/nncp/values.yaml
  examples/dt/nova/nova01alpha/service-values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Decouple uni01alpha network stage from control plane stage
  automation/vars/uni01alpha-adoption.yaml
  automation/vars/uni01alpha.yaml
  dt/uni01alpha/kustomization.yaml
  dt/uni01alpha/networking/kustomization.yaml
  dt/uni01alpha/networking/nad.yaml
  dt/uni01alpha/networking/netconfig/kustomization.yaml
  dt/uni01alpha/networking/netconfig/netconfig.yaml
  dt/uni01alpha/networking/nncp/kustomization.yaml
  examples/dt/uni01alpha/control-plane.md
  examples/dt/uni01alpha/control-plane/networking/kustomization.yaml
  examples/dt/uni01alpha/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni01alpha/control-plane/networking/nncp/values.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni01alpha

Deployed 743a8bf with MkDocs version: 1.6.1
  404.html
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  assets/stylesheets/main.d7758b05.min.css
  assets/stylesheets/main.d7758b05.min.css.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

That particular image cannot be used as an catalogsource.
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta
