Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

architecture-downstream-uni02beta-trigger-job:
  parent: downstream-uni02beta-trigger-job
  description: 'This job will trigger a uni02beta-upstream job downstream.
  
    We can invoke this job by adding following comment
  
    `\trigger github-experimental` in the github pull request comment.
  
    These jobs runs in github-experimental-trigger pipeline.
  
  ...

rhoso-architecture-validate-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: hci

rhoso-architecture-validate-ovs-dpdk-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk-sriov

rhoso-architecture-validate-uni01alpha:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni01alpha

rhoso-architecture-validate-bgp:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp
    cifmw_networking_env_def_file: automation/net-env/bgp.yaml

rhoso-architecture-validate-bgp_dt01:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp_dt01

rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nfv-ovs-dpdk-sriov-hci

rhoso-architecture-validate-osasinfra:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: osasinfra

rhoso-architecture-validate-ovs-dpdk:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk

rhoso-architecture-validate-pidone:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: pidone
    cifmw_networking_env_def_file: automation/net-env/pidone.yaml

rhoso-architecture-validate-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: sriov

rhoso-architecture-validate-uni02beta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni02beta
    cifmw_networking_env_def_file: automation/net-env/uni02beta.yaml

rhoso-architecture-validate-uni04delta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta
    cifmw_networking_env_def_file: automation/net-env/uni04delta.yaml

rhoso-architecture-validate-uni04delta-ipv6:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta-ipv6
    cifmw_networking_env_def_file: automation/net-env/uni04delta-ipv6.yaml

rhoso-architecture-validate-uni05epsilon:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni05epsilon
    cifmw_networking_env_def_file: automation/net-env/uni05epsilon.yaml

rhoso-architecture-validate-uni06zeta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni06zeta
    cifmw_networking_env_def_file: automation/net-env/uni06zeta.yaml

rhoso-architecture-validate-uni07eta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni07eta
    cifmw_networking_env_def_file: automation/net-env/uni07eta.yaml

[DNM] Add config for creating alias for PCI passthrough
  examples/va/nfv/sriov/service-values.yaml
  va/nfv/sriov/kustomization.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-sriov

[BGP] Disable BFD
  examples/dt/bgp_dt01/edpm/computes/r0/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r1/values.yaml
  examples/dt/bgp_dt01/edpm/computes/r2/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: none

Deployed 2f8a43b with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

NFV EDPM OVS DPDK with Netoworker OVS DPDK
  examples/va/nfv/ovs-dpdk-networker/.gitignore
  examples/va/nfv/ovs-dpdk-networker/README.md
  examples/va/nfv/ovs-dpdk-networker/control-plane.md
  examples/va/nfv/ovs-dpdk-networker/dataplane.md
  examples/va/nfv/ovs-dpdk-networker/edpm/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/deployment/values.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/.gitignore
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/edpm/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk-networker/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/.gitignore
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/.gitignore
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk-networker/nncp/kustomization.yaml
  examples/va/nfv/ovs-dpdk-networker/nncp/values.yaml
  examples/va/nfv/ovs-dpdk-networker/service-values.yaml
  lib/dataplane/networker-nodeset/dataplane-ssh-secret.yaml
  lib/dataplane/networker-nodeset/kustomization.yaml
  lib/dataplane/networker-nodeset/openstackdataplanenodeset.yaml
  va/nfv/ovs-dpdk-networker/README.md
  va/nfv/ovs-dpdk-networker/edpm/deployment/kustomization.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-networker/edpm/nodeset/nova_ovs_dpdk.yaml
  va/nfv/ovs-dpdk-networker/kustomization.yaml
  va/nfv/ovs-dpdk-networker/namespace.yaml
  va/nfv/ovs-dpdk-networker/networker/nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

WIP [unialpha] Add octavia vlan network on networkers
  automation/net-env/uni01alpha.yaml
  examples/dt/uni01alpha/networker/nodeset/values.yaml
Due: rhoso-architecture-validate-uni01alpha

Decouple uni05epsilon network from control plane
  automation/net-env/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon.yaml
  dt/uni05epsilon/kustomization.yaml
  dt/uni05epsilon/networking/kustomization.yaml
  examples/dt/uni05epsilon/control-plane.md
  examples/dt/uni05epsilon/control-plane/networking/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/nncp/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni05epsilon

Decouple uni04delta-ipv6 network stage from control plane stage
  automation/net-env/uni04delta-ipv6-adoption.yaml
  automation/vars/uni04delta-ipv6-adoption.yaml
  automation/vars/uni04delta-ipv6.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/networking/kustomization.yaml
  dt/uni04delta-ipv6/networking/nad.yaml
  dt/uni04delta-ipv6/networking/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/.gitignore
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/ocp_worker_nodes.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/values.yaml
  examples/dt/uni04delta-ipv6/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Deployed 74a3da3 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[NFV] Deploy Networker in ovs-dpdk-sriov scenario
  automation/vars/ovs-dpdk-sriov-networker.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/dataplane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/service-values.yaml
  lib/dataplane/compute-nodeset
  lib/dataplane/networker-nodeset/kustomization.yaml
  lib/dataplane/networker-nodeset/openstackdataplanenodeset.yaml
  va/nfv/ovs-dpdk-sriov/edpm/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/neutron_igmp.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Deployed ebf6cc4 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Decouple uni05epsilon network from control plane
  automation/net-env/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon.yaml
  dt/uni05epsilon/kustomization.yaml
  dt/uni05epsilon/networking/kustomization.yaml
  examples/dt/uni05epsilon/control-plane.md
  examples/dt/uni05epsilon/control-plane/networking/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/nncp/values.yaml
  examples/dt/uni05epsilon/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni05epsilon

Deployed 4c87773 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Decouple uni05epsilon network from control plane
  dt/uni05epsilon/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/kustomization.yaml
Due: rhoso-architecture-validate-uni05epsilon

[Draft] Split nvidia-mdev arch in two stages
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/control-plane/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/.gitignore
  examples/va/nvidia-mdev/control-plane/nncp/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/values.yaml
  examples/va/nvidia-mdev/control-plane/service-values.yaml
  examples/va/nvidia-mdev/edpm-post-driver/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/deployment/values.yaml
  examples/va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm/nodeset/values.yaml
  examples/va/nvidia-mdev/kustomization.yaml
  examples/va/nvidia-mdev/service-values.yaml
  va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/kustomization.yaml
Due: none

Decouple uni04delta-ipv6 network stage from control plane stage
  automation/mocks/uni04delta-ipv6-adoption.yaml
  automation/net-env/uni04delta-ipv6-adoption.yaml
  automation/vars/uni04delta-ipv6-adoption.yaml
  automation/vars/uni04delta-ipv6.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/networking/kustomization.yaml
  dt/uni04delta-ipv6/networking/nad.yaml
  dt/uni04delta-ipv6/networking/nncp/kustomization.yaml
  dt/uni05epsilon/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/.gitignore
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/ocp_worker_nodes.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/values.yaml
  examples/dt/uni04delta-ipv6/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon

fix broken link in nfv ovs-dpdk doc
  examples/va/nfv/ovs-dpdk/dataplane.md
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk

Added named stages for all the unijobs in automation/vars
  automation/vars/uni01alpha-adoption.yaml
  automation/vars/uni01alpha.yaml
  automation/vars/uni02beta.yaml
  automation/vars/uni04delta-adoption.yaml
  automation/vars/uni04delta-ipv6.yaml
  automation/vars/uni04delta.yaml
  automation/vars/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon.yaml
  automation/vars/uni06zeta-adoption.yaml
  automation/vars/uni06zeta.yaml
  automation/vars/uni07eta.yaml
  dt/uni05epsilon/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/networking/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-uni05epsilon

set ovn_router_indirect_snat = true
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni07eta

Deployed 357593f with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed eb1395f with MkDocs version: 1.6.1
  404.html
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Hardcoded image for the catalog source.
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

[DNM] Deploy a specific old version.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/catalogsource.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/keystone-subscription.yaml
  lib/olm-openstack/kustomization.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

v1.0.3 (18.0.2) still has the ansibleee operator.
  lib/olm-openstack/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Testing FR2
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Fix catalog source.
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Switch back to 1.0.3. 1.0.5 cannot be installed with non-trunk content.
  lib/olm-openstack/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Fix typo.
  lib/olm-openstack/catalogsource.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Deploy 1.0.6.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/keystone-subscription.yaml
  lib/olm-openstack/kustomization.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Increase timeout in uni01alpha
  automation/vars/uni01alpha.yaml
Due: none

Deployed f27bd05 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Added named stages for all the unijobs in automation/vars
  .ci/automation-schema.yaml
  automation/vars/hci-adoption.yaml
  automation/vars/hci.yaml
  automation/vars/uni01alpha-adoption.yaml
  automation/vars/uni01alpha.yaml
  automation/vars/uni02beta.yaml
  automation/vars/uni04delta-adoption.yaml
  automation/vars/uni04delta-ipv6.yaml
  automation/vars/uni04delta.yaml
  automation/vars/uni05epsilon-adoption.yaml
  automation/vars/uni05epsilon.yaml
  automation/vars/uni06zeta-adoption.yaml
  automation/vars/uni06zeta.yaml
  automation/vars/uni07eta.yaml
Due: architecture-downstream-uni02beta-trigger-job

WIP [unialpha] Add octavia vlan network on networkers
  automation/net-env/uni01alpha.yaml
  dt/uni01alpha/networking/netconfig/kustomization.yaml
  dt/uni01alpha/networking/netconfig/netconfig.yaml
  dt/uni01alpha/networking/nncp/kustomization.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni01alpha/networker/nodeset/values.yaml
Due: rhoso-architecture-validate-uni01alpha

[NFV] Deploy Networker in ovs-dpdk-sriov scenario
  automation/vars/ovs-dpdk-sriov-networker.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/dataplane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/service-values.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
  lib/dataplane/compute-nodeset
  lib/dataplane/networker-nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-sriov/edpm/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/neutron_igmp.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Deployed a7d5e5a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  architecture-downstream-uni02beta-trigger-job: any of: ^dt/uni02beta, ^lib, ^automation/vars/uni02beta.yaml
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib
