Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-bmo01, rhoso-architecture-validate-dcn, rhoso-architecture-validate-hci-adoption, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-adoption, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-nova-three-cells, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-osasinfra-ipv6, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-ovs-dpdk-sriov-2nodesets, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni01alpha-adoption, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-adoption, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni06zeta-adoption, rhoso-architecture-validate-uni07eta

architecture-downstream-uni02beta-trigger-job:
  parent: downstream-uni02beta-trigger-job
  description: 'This job will trigger a uni02beta-upstream job downstream.
  
    We can invoke this job by adding following comment
  
    `\trigger github-experimental` in the github pull request comment.
  
    These jobs runs in github-experimental-trigger pipeline.
  
  ...

rhoso-architecture-validate-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: hci

rhoso-architecture-validate-ovs-dpdk-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk-sriov

rhoso-architecture-validate-uni01alpha:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni01alpha

rhoso-architecture-validate-bgp_dt01:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp_dt01

rhoso-architecture-validate-bmo01:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bmo01
    cifmw_networking_env_def_file: automation/net-env/bmo01.yaml

rhoso-architecture-validate-dcn:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: dcn
    cifmw_networking_env_def_file: automation/net-env/dcn.yaml

rhoso-architecture-validate-hci-adoption:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: hci-adoption

rhoso-architecture-validate-nfv-ovs-dpdk-sriov-adoption:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nfv-ovs-dpdk-sriov-adoption

rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nfv-ovs-dpdk-sriov-hci

rhoso-architecture-validate-nova-three-cells:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nova-three-cells

rhoso-architecture-validate-osasinfra:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: osasinfra

rhoso-architecture-validate-osasinfra-ipv6:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: osasinfra-ipv6

rhoso-architecture-validate-ovs-dpdk:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk

rhoso-architecture-validate-ovs-dpdk-sriov-2nodesets:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk-sriov-2nodesets

rhoso-architecture-validate-pidone:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: pidone
    cifmw_networking_env_def_file: automation/net-env/pidone.yaml

rhoso-architecture-validate-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: sriov

rhoso-architecture-validate-uni01alpha-adoption:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni01alpha-adoption
    cifmw_networking_env_def_file: automation/net-env/uni01alpha-adoption.yaml

Deployed f699986 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Decouple uni04delta-ipv6 network stage from control plane stage
  automation/mocks/uni04delta-ipv6-adoption.yaml
  automation/net-env/uni04delta-ipv6-adoption.yaml
  automation/vars/uni04delta-ipv6-adoption.yaml
  automation/vars/uni04delta-ipv6.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/networking/kustomization.yaml
  dt/uni04delta-ipv6/networking/nad.yaml
  dt/uni04delta-ipv6/networking/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/networking/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/.gitignore
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/ocp_worker_nodes.yaml
  examples/dt/uni04delta-ipv6/control-plane/networking/nncp/values.yaml
  examples/dt/uni04delta-ipv6/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Deployed 0562737 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

WIP [unialpha] Add octavia vlan network on networkers
  automation/net-env/uni01alpha.yaml
  dt/uni01alpha/networking/netconfig/kustomization.yaml
  dt/uni01alpha/networking/netconfig/netconfig.yaml
  dt/uni01alpha/networking/nncp/kustomization.yaml
  examples/dt/uni01alpha/control-plane/networking/nncp/values.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni01alpha/networker/nodeset/values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni01alpha-adoption

[NFV] Deploy Networker in ovs-dpdk-sriov scenario
  automation/mocks/ovs-dpdk-sriov-networker.yaml
  automation/vars/ovs-dpdk-sriov-networker.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/dataplane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/computes/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/edpm/networkers/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-networker/service-values.yaml
  examples/va/nfv/ovs-dpdk-networker/networker/nodeset/kustomization.yaml
  lib/dataplane/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/compute-nodeset
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/baremetalset-password-secret.yaml
  va/nfv/ovs-dpdk-sriov/edpm/networker-nodeset/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-bmo01, rhoso-architecture-validate-dcn, rhoso-architecture-validate-hci-adoption, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-adoption, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-nova-three-cells, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-osasinfra-ipv6, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-ovs-dpdk-sriov-2nodesets, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni01alpha-adoption, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-adoption, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni06zeta-adoption, rhoso-architecture-validate-uni07eta

Fix typo about worker-3 in bgp-l3-xl
  examples/dt/bgp-l3-xl/README.md
Due: none

Deployed 3ed50e2 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed dbef3cf with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Create Nova Multinodset hybrid job
  automation/vars/nova02beta.yaml
  dt/nova/nova02beta/README.md
  dt/nova/nova02beta/edpm/deployment/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset/baremetalset-password-secret.yaml
  dt/nova/nova02beta/edpm/nodeset/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset/nova_sriov.yaml
  dt/nova/nova02beta/edpm/nodeset2/baremetalset-password-secret.yaml
  dt/nova/nova02beta/edpm/nodeset2/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset2/nova_sriov.yaml
  dt/nova/nova02beta/kustomization.yaml
  dt/nova/nova02beta/namespace.yaml
  examples/dt/nova/nova02beta/.gitignore
  examples/dt/nova/nova02beta/README.md
  examples/dt/nova/nova02beta/control-plane.md
  examples/dt/nova/nova02beta/dataplane.md
  examples/dt/nova/nova02beta/edpm/.gitignore
  examples/dt/nova/nova02beta/edpm/deployment/.gitignore
  examples/dt/nova/nova02beta/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/deployment/values.yaml
  examples/dt/nova/nova02beta/edpm/nodeset/.gitignore
  examples/dt/nova/nova02beta/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/nodeset/values.yaml
  examples/dt/nova/nova02beta/edpm/nodeset2/.gitignore
  examples/dt/nova/nova02beta/edpm/nodeset2/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/nodeset2/values.yaml
  examples/dt/nova/nova02beta/kustomization.yaml
  examples/dt/nova/nova02beta/nncp/kustomization.yaml
  examples/dt/nova/nova02beta/nncp/values.yaml
  examples/dt/nova/nova02beta/service-values.yaml
Due: none

Add nvidia-mdev mutli-type VA
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/.gitignore
  examples/va/nvidia-mdev/README.md
  examples/va/nvidia-mdev/control-plane.md
  examples/va/nvidia-mdev/control-plane/.gitignore
  examples/va/nvidia-mdev/control-plane/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/.gitignore
  examples/va/nvidia-mdev/control-plane/nncp/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/values.yaml
  examples/va/nvidia-mdev/control-plane/service-values.yaml
  examples/va/nvidia-mdev/edpm-post-driver/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/deployment/values.yaml
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/values.yaml
  examples/va/nvidia-mdev/edpm-post.md
  examples/va/nvidia-mdev/edpm-pre.md
  examples/va/nvidia-mdev/edpm/.gitignore
  examples/va/nvidia-mdev/edpm/deployment/.gitignore
  examples/va/nvidia-mdev/edpm/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm/deployment/values.yaml
  examples/va/nvidia-mdev/edpm/nodeset/.gitignore
  examples/va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm/nodeset/values.yaml
  va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  va/nvidia-mdev/edpm-post-driver/nodeset/kustomization.yaml
  va/nvidia-mdev/edpm-post-driver/nodeset/nova_provider.yaml
  va/nvidia-mdev/edpm/deployment/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/baremetalset-password-secret.yaml
  va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/nova_sriov.yaml
  va/nvidia-mdev/kustomization.yaml
  va/nvidia-mdev/namespace.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Deployed 41714d5 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Update external unideltaipv6
  automation/net-env/uni04delta-ipv6-adoption.yaml
  automation/net-env/uni04delta-ipv6.yaml
Due: rhoso-architecture-validate-uni04delta-ipv6

Deployed 6980941 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[uni07eta] Configure glance with cinder_volume_type=multiattach
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni07eta

Create example install-nvidia service
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm/nodeset/values.yaml
  va/nvidia-mdev/edpm/nodeset/nova_sriov.yaml
Due: none

[DNM] Testing NVMe OTU feature
  automation/vars/nova02beta.yaml
  dt/nova/nova02beta/edpm/nodeset2/baremetalset-password-secret.yaml
  dt/nova/nova02beta/edpm/nodeset2/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset2/nova_sriov.yaml
  examples/dt/nova/nova02beta/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/nodeset2/.gitignore
  examples/dt/nova/nova02beta/edpm/nodeset2/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/nodeset2/values.yaml
Due: none

Deployed a25c8c9 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.13a4f30d.min.js
  assets/javascripts/bundle.13a4f30d.min.js.map
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/workers/search.d50fe291.min.js
  assets/javascripts/workers/search.d50fe291.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/stylesheets/main.2afb09e1.min.css
  assets/stylesheets/main.2afb09e1.min.css.map
  assets/stylesheets/main.342714a4.min.css
  assets/stylesheets/main.342714a4.min.css.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Adds workflow to trigger branch sync
  .github/workflows/sync_branches_with_ext_trigger.yml
Due: none

Added Cinder Backup in kustomization for uni02beta
  dt/uni02beta/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-uni02beta

ci_dcn_site: Set cross_az_attach at nova-api
  examples/dt/dcn/control-plane/scaledown/service-values.yaml
  examples/dt/dcn/service-values.yaml
Due: rhoso-architecture-validate-dcn

Decouple uni07eta network stage from control plane stage
  automation/vars/uni07eta-adoption.yaml
  automation/vars/uni07eta.yaml
  dt/uni07eta/kustomization.yaml
  dt/uni07eta/networking/kustomization.yaml
  dt/uni07eta/networking/ocp-networks-octavia-netattach.yaml
  dt/uni07eta/nncp/kustomization.yaml
  examples/dt/uni07eta/control-plane.md
  examples/dt/uni07eta/control-plane/kustomization.yaml
  examples/dt/uni07eta/control-plane/networking/kustomization.yaml
  examples/dt/uni07eta/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni07eta/control-plane/networking/nncp/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni07eta

Deployed cc61785 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[BGP] Add octavia bridge to networkers
  automation/mocks/bgp_dt01.yaml
  automation/net-env/bgp.yaml
  examples/dt/bgp_dt01/control-plane/kustomization.yaml
  examples/dt/bgp_dt01/control-plane/nncp/kustomization.yaml
  examples/dt/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r0/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r1/values.yaml
  examples/dt/bgp_dt01/edpm/networkers/r2/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Decouple uni02beta network from control plane and add definitions for adoption
  automation/net-env/uni02beta-adoption.yaml
  automation/vars/uni02beta-adoption.yaml
  dt/uni02beta/networking/kustomization.yaml
  examples/dt/uni02beta/control-plane.md
  examples/dt/uni02beta/control-plane/kustomization.yaml
  examples/dt/uni02beta/control-plane/networking/kustomization.yaml
  examples/dt/uni02beta/control-plane/networking/nncp/kustomization.yaml
  examples/dt/uni02beta/control-plane/networking/nncp/nodes.yaml
  examples/dt/uni02beta/control-plane/networking/nncp/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-uni02beta

Added Cinder Backup in kustomization for uni02beta
  dt/uni02beta/kustomization.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-uni02beta

Create Nova Multinodset hybrid job
  automation/vars/nova02beta.yaml
  dt/nova/nova02beta/README.md
  dt/nova/nova02beta/edpm-post-driver/deployment/kustomization.yaml
  dt/nova/nova02beta/edpm/deployment/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset/baremetalset-password-secret.yaml
  dt/nova/nova02beta/edpm/nodeset/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset/nova_sriov.yaml
  dt/nova/nova02beta/edpm/nodeset2/baremetalset-password-secret.yaml
  dt/nova/nova02beta/edpm/nodeset2/kustomization.yaml
  dt/nova/nova02beta/edpm/nodeset2/nova_sriov.yaml
  dt/nova/nova02beta/kustomization.yaml
  dt/nova/nova02beta/namespace.yaml
  examples/dt/nova/nova02beta/.gitignore
  examples/dt/nova/nova02beta/README.md
  examples/dt/nova/nova02beta/control-plane.md
  examples/dt/nova/nova02beta/dataplane.md
  examples/dt/nova/nova02beta/edpm-post-driver/deployment/kustomization.yaml
  examples/dt/nova/nova02beta/edpm-post-driver/deployment/values.yaml
  examples/dt/nova/nova02beta/edpm/.gitignore
  examples/dt/nova/nova02beta/edpm/deployment/.gitignore
  examples/dt/nova/nova02beta/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/deployment/values.yaml
  examples/dt/nova/nova02beta/edpm/nodeset/.gitignore
  examples/dt/nova/nova02beta/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/nodeset/values.yaml
  examples/dt/nova/nova02beta/edpm/nodeset2/.gitignore
  examples/dt/nova/nova02beta/edpm/nodeset2/kustomization.yaml
  examples/dt/nova/nova02beta/edpm/nodeset2/values.yaml
  examples/dt/nova/nova02beta/kustomization.yaml
  examples/dt/nova/nova02beta/nncp/kustomization.yaml
  examples/dt/nova/nova02beta/nncp/values.yaml
  examples/dt/nova/nova02beta/service-values.yaml
Due: none

Removing empty line from kustomization file
  va/hci/edpm-post-ceph/nodeset/kustomization.yaml
Due: rhoso-architecture-validate-hci

Removing trailing spaces from kustomization file
  va/hci/edpm-post-ceph/nodeset/kustomization.yaml
Due: rhoso-architecture-validate-hci

Fixing issues in kustomization file
  va/hci/edpm-post-ceph/nodeset/kustomization.yaml
Due: rhoso-architecture-validate-hci

Removing duplocate section from kustomization file
  va/hci/edpm-post-ceph/nodeset/kustomization.yaml
Due: rhoso-architecture-validate-hci

Adding telemetry section to services file
  examples/va/hci/service-values.yaml
Due: rhoso-architecture-validate-hci

Path conditions:
  architecture-downstream-uni02beta-trigger-job: any of: ^dt/uni02beta, ^lib, ^automation/vars/uni02beta.yaml
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/networking, examples/va/hci/control-plane/networking/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/networking, examples/dt/uni01alpha/control-plane/networking/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp_dt01/control-plane, examples/dt/bgp_dt01/control-plane/nncp, examples/dt/bgp_dt01/edpm/computes/r0, examples/dt/bgp_dt01/edpm/computes/r1, examples/dt/bgp_dt01/edpm/computes/r2, examples/dt/bgp_dt01/edpm/deployment, examples/dt/bgp_dt01/edpm/networkers/r0, examples/dt/bgp_dt01/edpm/networkers/r1, examples/dt/bgp_dt01/edpm/networkers/r2, lib
  rhoso-architecture-validate-bmo01: any of: automation/mocks/bmo01.yaml, automation/net-env/bmo01.yaml, dt/bmo01, examples/dt/bmo01/control-plane, examples/dt/bmo01/control-plane/nncp, examples/dt/bmo01/dataplane, examples/dt/bmo01/dataplane/baremetalhosts, examples/dt/bmo01/dataplane/nodesets, examples/dt/bmo01/dataplane/secrets, lib
  rhoso-architecture-validate-dcn: any of: automation/net-env/dcn.yaml, dt/dcn, examples/dt/dcn/control-plane, examples/dt/dcn/control-plane/nncp, lib
  rhoso-architecture-validate-hci-adoption: any of: examples/va/hci/control-plane/networking, examples/va/hci/control-plane/networking/nncp, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-adoption: any of: examples/va/nfv/ovs-dpdk-sriov/nncp, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: automation/mocks/nfv-ovs-dpdk-sriov-hci.yaml, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-nova-three-cells: any of: examples/dt/nova/nova-three-cells/control-plane, examples/dt/nova/nova-three-cells/control-plane/nncp, examples/dt/nova/nova-three-cells/edpm/deployment, examples/dt/nova/nova-three-cells/edpm/nodeset, examples/dt/nova/nova-three-cells/edpm/nodeset2, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra-ipv6: any of: dt/osasinfra-ipv6, examples/dt/osasinfra-ipv6, examples/dt/osasinfra-ipv6/control-plane, examples/dt/osasinfra-ipv6/control-plane/nncp, examples/dt/osasinfra-ipv6/deployment, examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment, examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-ovs-dpdk-sriov-2nodesets: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets, examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset, examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2, examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni01alpha-adoption: any of: automation/net-env/uni01alpha-adoption.yaml, examples/dt/uni01alpha/control-plane/networking, examples/dt/uni01alpha/control-plane/networking/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/networking, examples/dt/uni04delta/control-plane/networking/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-adoption: any of: automation/net-env/uni04delta-adoption.yaml, examples/dt/uni04delta/control-plane/networking, examples/dt/uni04delta/control-plane/networking/nncp, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, examples/dt/uni05epsilon/nodeset2, examples/dt/uni05epsilon/nodeset2/deployment, examples/dt/uni05epsilon/nodeset2/edpm-pre-ceph, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/networking, examples/dt/uni06zeta/control-plane/networking/nncp, lib
  rhoso-architecture-validate-uni06zeta-adoption: any of: examples/dt/uni06zeta/control-plane/networking, examples/dt/uni06zeta/control-plane/networking/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib
