Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Path conditions:
  architecture-downstream-uni02beta-trigger-job: any of: ^dt/uni02beta, ^lib, ^automation/vars/uni02beta.yaml
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib

[Draft] Split nvidia-mdev arch in two stages
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/control-plane/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/.gitignore
  examples/va/nvidia-mdev/control-plane/nncp/kustomization.yaml
  examples/va/nvidia-mdev/control-plane/nncp/values.yaml
  examples/va/nvidia-mdev/control-plane/service-values.yaml
  examples/va/nvidia-mdev/edpm-post-driver/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/deployment/values.yaml
  examples/va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm/nodeset/values.yaml
  examples/va/nvidia-mdev/kustomization.yaml
  examples/va/nvidia-mdev/service-values.yaml
  va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/kustomization.yaml
Due: none

DNM Add scaling down a DCN site
  dt/dcn/control-plane/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/kustomization.yaml
  examples/dt/dcn/control-plane/scaledown/service-values.yaml
Due: none

Revert "Disable extra mount in uni02beta"
  dt/uni02beta/kustomization.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-uni02beta

Deployed 2da816a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed b945fba with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.83f73b43.min.js
  assets/javascripts/bundle.83f73b43.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js
  assets/javascripts/bundle.88dd0f4e.min.js.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
Due: none

Deployed 163f30f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Set table-id explicitly for routes
  examples/dt/dcn/control-plane/nncp/values.yaml
Due: none

[BGP] Replace worker-3 NAD from host-device to macvlan
  examples/dt/bgp/bgp_dt01/control-plane/nncp/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Deployed b893b45 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Replace worker-3 NAD from host-device to macvlan
  examples/dt/bgp/bgp_dt01/control-plane/nncp/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Multiple nodesets for ovs-dpdk-sriov scenario
  automation/vars/ovs-dpdk-sriov-2nodesets.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/README.md
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/baremetalset-password-secret.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/kustomization.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/neutron_igmp.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/nova_ovs_dpdk_sriov.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/dataplane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/service-values.yaml
  lib/dataplane/nodeset2/dataplane-ssh-secret.yaml
  lib/dataplane/nodeset2/kustomization.yaml
  lib/dataplane/nodeset2/nova-migration-ssh-secret.yaml
  lib/dataplane/nodeset2/openstackdataplanenodeset.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

[DCN] Support Manila Shares with Local Ceph Clusters in DCN
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Deployed da75dc8 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Multiple nodesets for ovs-dpdk-sriov scenario
  automation/vars/ovs-dpdk-sriov-2nodesets.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/dataplane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/service-values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Deployed 1d34994 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

NFV network configs update
  examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk/edpm/nodeset/values.yaml
  examples/va/nfv/sriov/edpm/nodeset/values.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-sriov

[uni04delta-ipv6] Add octavia
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/nad.yaml
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/README.md
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Update service-values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Update kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

enable Octavia in uni-delta-ipv6
  dt/uni04delta-ipv6/control-plane/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

[BGP] Increase dataplane deployment timeout
  automation/vars/bgp_dt01.yaml
Due: none

Deployed 6af6dd2 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Increase dataplane deployment timeout
  automation/vars/bgp_dt01.yaml
Due: none

Redefine uni05epsilon to deploy with 3 cells
  automation/vars/uni05epsilon.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/deployment/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/ceph-extra-mounts.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/ceph-secret.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/cinder-volume-nfs-secrets.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/cinder-volume-ontap-secrets.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/nova-custom-config.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset2/resources/nova-custom-service.yaml
  dt/uni05epsilon/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/nncp/values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/deployment/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/deployment/values.yaml
  examples/dt/uni05epsilon/nodeset2/edpm-pre-ceph/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/edpm-pre-ceph/values.yaml
  examples/dt/uni05epsilon/nodeset2/kustomization.yaml
  examples/dt/uni05epsilon/nodeset2/values.yaml
  examples/dt/uni05epsilon/service-values.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni05epsilon

Support new OpenStack initialization resource for RHOSO install
  examples/common/README.md
  examples/common/openstack/kustomization.yaml
  lib/openstack/kustomization.yaml
  lib/openstack/openstack_deploy.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Deployed e5a762d with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

OSASINFRA-IPV6 DT
  automation/vars/osasinfra-ipv6.yaml
  dt/osasinfra-ipv6/README.md
  dt/osasinfra-ipv6/edpm-post-ceph/deployment/kustomization.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/ceph_secret.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/extra_mounts.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/kustomization.yaml
  dt/osasinfra-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/osasinfra-ipv6/kustomization.yaml
  dt/osasinfra-ipv6/namespace.yaml
  dt/osasinfra-ipv6/nncp/kustomization.yaml
  dt/osasinfra-ipv6/ocp_networks_octavia_netattach.yaml
  examples/dt/osasinfra-ipv6/.gitignore
  examples/dt/osasinfra-ipv6/README.md
  examples/dt/osasinfra-ipv6/control-plane.md
  examples/dt/osasinfra-ipv6/control-plane/.gitignore
  examples/dt/osasinfra-ipv6/control-plane/kustomization.yaml
  examples/dt/osasinfra-ipv6/control-plane/nncp/.gitignore
  examples/dt/osasinfra-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/osasinfra-ipv6/control-plane/nncp/values.yaml
  examples/dt/osasinfra-ipv6/control-plane/service-values.yaml
  examples/dt/osasinfra-ipv6/dataplane-post-ceph.md
  examples/dt/osasinfra-ipv6/dataplane-pre-ceph.md
  examples/dt/osasinfra-ipv6/deployment/kustomization.yaml
  examples/dt/osasinfra-ipv6/deployment/values.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/.gitignore
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment/values.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/osasinfra-ipv6/kustomization.yaml
  examples/dt/osasinfra-ipv6/service-values.yaml
  examples/dt/osasinfra-ipv6/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-osasinfra

[OSASINFRA-IPV6 DT]Set MTU to 9000
  examples/dt/osasinfra-ipv6/service-values.yaml
Due: rhoso-architecture-validate-osasinfra

Deployed 44608a4 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/javascripts/workers/search.f8cc74c7.min.js.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.a40c8224.min.css
  assets/stylesheets/main.a40c8224.min.css.map
  contributing/cherry-picking/index.html
  contributing/common-pitfalls/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Switch to 1.0.5 and fix a typo.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/catalogsource.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/keystone-subscription.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

[DNM] Deploy a specific old version.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/catalogsource.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/keystone-subscription.yaml
  lib/olm-openstack/kustomization.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Switch back to 1.0.3. 1.0.5 cannot be installed with non-trunk content.
  lib/olm-openstack/barbican-subscription.yaml
  lib/olm-openstack/cinder-subscription.yaml
  lib/olm-openstack/designate-subscription.yaml
  lib/olm-openstack/glance-subscription.yaml
  lib/olm-openstack/heat-subscription.yaml
  lib/olm-openstack/horizon-subscription.yaml
  lib/olm-openstack/infra-subscription.yaml
  lib/olm-openstack/ironic-subscription.yaml
  lib/olm-openstack/kustomization.yaml
  lib/olm-openstack/manila-subscription.yaml
  lib/olm-openstack/mariadb-subscription.yaml
  lib/olm-openstack/neutron-subscription.yaml
  lib/olm-openstack/nova-subscription.yaml
  lib/olm-openstack/octavia-subscription.yaml
  lib/olm-openstack/openstack-ansibleee-subscription.yaml
  lib/olm-openstack/openstack-baremetal-subscription.yaml
  lib/olm-openstack/ovn-subscription.yaml
  lib/olm-openstack/placement-subscription.yaml
  lib/olm-openstack/rabbitmq-cluster-subscription.yaml
  lib/olm-openstack/subscription.yaml
  lib/olm-openstack/swift-subscription.yaml
  lib/olm-openstack/telemetry-subscription.yaml
Due: architecture-downstream-uni02beta-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Create nvidia mdev adoption stages
  automation/vars/nvidia-mdev-adoption.yaml
Due: none

remove custom ovn_emit_need_to_frag config
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

NFV network config changes
  examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk/edpm/nodeset/values.yaml
  examples/va/nfv/sriov/edpm/nodeset/values.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-sriov

Increase data plane deployment timeout for uni06zeta
  automation/vars/uni06zeta.yaml
Due: none
