Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Path conditions:
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/mocks/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/computes-deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, examples/dt/bgp/bgp_dt01/edpm/networkers-deployment, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/mocks/pidone.yaml, examples/va/pidone, examples/va/pidone/edpm/deployment, examples/va/pidone/edpm/nodeset, examples/va/pidone/nncp, lib, va/pidone
  rhoso-architecture-validate-shiftstack: any of: automation/mocks/shiftstack.yaml, dt/shiftstack, examples/dt/shiftstack, examples/dt/shiftstack/ceph, examples/dt/shiftstack/ceph/nodeset, examples/dt/shiftstack/compute, examples/dt/shiftstack/compute/nodeset, examples/dt/shiftstack/control-plane, examples/dt/shiftstack/control-plane/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, lib
  rhoso-architecture-validate-uni06zeta: any of: dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib

Remove Octavia from uni05epsilon
  dt/uni05epsilon/edpm-post-ceph/nodeset/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/resources/octavia-network-attachment-definition.yaml
  dt/uni05epsilon/nncp/kustomization.yaml
  examples/dt/uni05epsilon/README.md
  examples/dt/uni05epsilon/control-plane/nncp/kustomization.yaml
  examples/dt/uni05epsilon/service-values.yaml
Due: rhoso-architecture-validate-uni05epsilon

Enable Ceph in uni05epsilon
  automation/vars/uni05epsilon.yaml
  dt/uni05epsilon/edpm-post-ceph/deployment/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/kustomization.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/resources/ceph-extra-mounts.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/resources/ceph-secret.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/resources/cinder-volume-nfs-secrets.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/resources/cinder-volume-ontap-secrets.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/resources/nova-custom-config.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/resources/nova-custom-service.yaml
  dt/uni05epsilon/edpm-post-ceph/nodeset/resources/octavia-network-attachment-definition.yaml
  dt/uni05epsilon/edpm-pre-ceph/deployment/kustomization.yaml
  dt/uni05epsilon/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/uni05epsilon/kustomization.yaml
  examples/dt/uni05epsilon/control-plane/nncp/values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph.md
  examples/dt/uni05epsilon/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/deployment/values.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/uni05epsilon/kustomization.yaml
  examples/dt/uni05epsilon/service-values.yaml
  examples/dt/uni05epsilon/values.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-uni05epsilon

Allow setting Nova Compute extra config
  dt/uni05epsilon/edpm-post-ceph/nodeset/kustomization.yaml
  dt/uni07eta/edpm/nodeset/kustomization.yaml
  dt/uni07eta/edpm/nodeset/resources/nova-custom-config.yaml
  dt/uni07eta/edpm/nodeset/resources/nova-custom-service.yaml
  examples/dt/uni05epsilon/service-values.yaml
  examples/dt/uni07eta/edpm/values.yaml
Due: rhoso-architecture-validate-uni05epsilon

Enable Octavia in uni05epsilon
  examples/dt/uni05epsilon/control-plane/nncp/values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni05epsilon

Enable ironic on delta-ipv6
  dt/uni04delta-ipv6/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta

DNM WIP Revert "Disable extra mount in uni02beta"
  dt/uni02beta/kustomization.yaml
Due: rhoso-architecture-validate-uni02beta

Deployed 6306ad2 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Use pre/post Ceph servicesOverride in HCI deployments
  examples/va/hci/dataplane-post-ceph.md
  examples/va/hci/deployment/kustomization.yaml
  examples/va/hci/deployment/values.yaml
  examples/va/hci/edpm-pre-ceph/deployment/kustomization.yaml
  examples/va/hci/edpm-pre-ceph/deployment/values.yaml
  examples/va/hci/edpm-pre-ceph/nodeset/values.yaml
  examples/va/hci/values.yaml
Due: rhoso-architecture-validate-hci

Deployed b141266 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Use pre/post Ceph servicesOverride in uni05epsilon HCI
  examples/dt/uni05epsilon/dataplane-post-ceph.md
  examples/dt/uni05epsilon/deployment/kustomization.yaml
  examples/dt/uni05epsilon/deployment/values.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/deployment/values.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/uni05epsilon/values.yaml
Due: rhoso-architecture-validate-uni05epsilon

Add document about cherry picking patches
  docs/contributing/cherry-picking.md
  mkdocs.yml
Due: none

WIP unibeta: increase the timeout
  automation/vars/uni02beta.yaml
Due: none

Add telemetry to uni04delta-ipv6
  dt/uni04delta-ipv6/kustomization.yaml
  examples/dt/uni04delta-ipv6/README.md
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
  examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/uni04delta-ipv6/values.yaml
Due: rhoso-architecture-validate-uni04delta

move pidone to dt
  README.md
  automation/vars/pidone.yaml
  dt/pidone/README.md
  dt/pidone/edpm/deployment/kustomization.yaml
  dt/pidone/edpm/nodeset/kustomization.yaml
  dt/pidone/kustomization.yaml
  dt/pidone/namespace.yaml
  examples/dt/pidone/README.md
  examples/dt/pidone/edpm/deployment/kustomization.yaml
  examples/dt/pidone/edpm/deployment/values.yaml
  examples/dt/pidone/edpm/nodeset/kustomization.yaml
  examples/dt/pidone/edpm/nodeset/values.yaml
  examples/dt/pidone/kustomization.yaml
  examples/dt/pidone/nncp/kustomization.yaml
  examples/dt/pidone/nncp/ocp_pidone_nodes_nncp.yaml
  examples/dt/pidone/nncp/values.yaml
  examples/dt/pidone/service-values.yaml
  examples/dt/pidone/values.yaml
  va/pidone/README.md
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-pidone

Deployed 9152341 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 9174d1a with MkDocs version: 1.6.0
  404.html
  contributing/cherry-picking/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Changing ntp to ci-framework default
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/values.yaml
  examples/dt/bgp/edpm/nodeset/values.yaml
  examples/dt/osasinfra/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/pidone/edpm/nodeset/values.yaml
  examples/dt/pidone/values.yaml
  examples/dt/uni01alpha/edpm/values.yaml
  examples/dt/uni01alpha/networker/nodeset/values.yaml
  examples/dt/uni02beta/values.yaml
  examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/uni04delta-ipv6/values.yaml
  examples/dt/uni04delta/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/uni04delta/values.yaml
  examples/dt/uni05epsilon/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/uni06zeta/values.yaml
  examples/dt/uni07eta/edpm/values.yaml
  examples/dt/uni07eta/networker/nodeset/values.yaml
  examples/va/hci/edpm-pre-ceph/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk/edpm/nodeset/values.yaml
  examples/va/nfv/sriov/edpm/nodeset/values.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

[NFV] Update the osdpns timeout for SetupReady
  automation/vars/default.yaml
Due: none

increased NFV timeout
  automation/vars/default.yaml
Due: none

add storage mgmt
  automation/vars/default.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp/values.yaml
  lib/networking/netconfig/kustomization.yaml
  lib/networking/netconfig/netconfig.yaml
  lib/nncp/kustomization.yaml
  lib/nncp/ocp_node_template.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Deployed 44e3635 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable Octavia in uni07eta
  examples/dt/uni07eta/control-plane/nncp/values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: none

Deployed de3eca1 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

HCI+NFV DT
  automation/vars/default.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/README.md
  dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane-pre-ceph/kustomization.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane-pre-ceph/namespace.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane-pre-ceph/policy.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/deployment/kustomization.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/ceph_secret.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/extra_mounts.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/kustomization.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/nova_ovs_dpdk_sriov_ceph.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment/kustomization.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/baremetalset-password-secret.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/neutron_igmp.yaml
  dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/nova_ovs_dpdk_sriov.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/README.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/service-values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/dataplane-post-ceph.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/dataplane-pre-ceph.md
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/service-values.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Deployed f28499f with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[BGP] Use 'nova' service instead of 'nova-custom'
  dt/bgp/edpm/nodeset/kustomization.yaml
  dt/bgp/edpm/nodeset/nova_custom.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
Due: rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01

Deployed 449b690 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

WIP: Add BGP DT03 IPv6
  automation/mocks/bgp_dt03_ipv6.yaml
  automation/net-env/bgp_dt03_ipv6.yaml
  automation/vars/bgp.yaml
  examples/dt/bgp/bgp_dt03_ipv6/README.md
  examples/dt/bgp/bgp_dt03_ipv6/configure-taints.md
  examples/dt/bgp/bgp_dt03_ipv6/control-plane.md
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/kustomization.yaml
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/metallb_bgppeers.yaml
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/nncp/.gitignore
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/nncp/ocp_worker_nodes_nncp.yaml
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/nncp/values.yaml
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/ocp_network_template.yaml
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/ocp_networks_netattach.yaml
  examples/dt/bgp/bgp_dt03_ipv6/control-plane/service-values.yaml
  examples/dt/bgp/bgp_dt03_ipv6/data-plane.md
  examples/dt/bgp/bgp_dt03_ipv6/edpm/computes/kustomization.yaml
  examples/dt/bgp/bgp_dt03_ipv6/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt03_ipv6/edpm/deployment/kustomization.yaml
  examples/dt/bgp/bgp_dt03_ipv6/edpm/deployment/values.yaml
  examples/dt/bgp/bgp_dt03_ipv6/edpm/networkers/kustomization.yaml
  examples/dt/bgp/bgp_dt03_ipv6/edpm/networkers/values.yaml
  examples/dt/bgp/bgp_dt03_ipv6/metallb/README.md
  examples/dt/bgp/bgp_dt03_ipv6/metallb/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

DNM Testing test-kustomizations.sh
  lib/networking/metallb/kustomization.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Enable debug option in manila
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/va/hci/service-values.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-uni04delta

Deployed 3928e5c with MkDocs version: 1.6.0
  404.html
  assets/javascripts/bundle.af256bd8.min.js
  assets/javascripts/bundle.af256bd8.min.js.map
  assets/javascripts/bundle.fe8b6f2b.min.js
  assets/javascripts/bundle.fe8b6f2b.min.js.map
  contributing/cherry-picking/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Move automation default vars into seperate scenario files
  automation/vars/hci.yaml
  automation/vars/nfv-ovs-dpdk-sriov-hci.yaml
  automation/vars/ovs-dpdk-sriov.yaml
  automation/vars/ovs-dpdk.yaml
  automation/vars/sriov.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none
