Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Path conditions:
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/mocks/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/computes-deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, examples/dt/bgp/bgp_dt01/edpm/networkers-deployment, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/mocks/pidone.yaml, examples/va/pidone, examples/va/pidone/edpm/deployment, examples/va/pidone/edpm/nodeset, examples/va/pidone/nncp, lib, va/pidone
  rhoso-architecture-validate-shiftstack: any of: automation/mocks/shiftstack.yaml, dt/shiftstack, examples/dt/shiftstack, examples/dt/shiftstack/ceph, examples/dt/shiftstack/ceph/nodeset, examples/dt/shiftstack/compute, examples/dt/shiftstack/compute/nodeset, examples/dt/shiftstack/control-plane, examples/dt/shiftstack/control-plane/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, lib
  rhoso-architecture-validate-uni06zeta: any of: dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib

Deployed 98f8ae2 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Config uni06zeta glance with Cinder
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni06zeta

Enable ceph-nfs for uni04delta
  examples/dt/uni04delta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta

Remove NFS from manila protocols list for HCI
  examples/va/hci/service-values.yaml
Due: rhoso-architecture-validate-hci

[manila] uni-beta Fix "enabled_share_protocols" configuration
  examples/dt/uni02beta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni02beta

Add compute-starter-kit dt
  README.md
  examples/dt/README.md
  examples/va/compute/compute-starter-kit/README.md
  examples/va/compute/compute-starter-kit/control-plane.md
  examples/va/compute/compute-starter-kit/control-plane/disable.yaml
  examples/va/compute/compute-starter-kit/control-plane/glance.yaml
  examples/va/compute/compute-starter-kit/control-plane/infra.yaml
  examples/va/compute/compute-starter-kit/control-plane/nova.yaml
  examples/va/compute/compute-starter-kit/edpm/.keep
  examples/va/compute/compute-starter-kit/kustomization.yaml
  examples/va/compute/compute-starter-kit/nncp/kustomization.yaml
  examples/va/compute/compute-starter-kit/nncp/values.yaml
Due: none

[BGP_DT01] Enable IGMP Snooping
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Use uni* specific Net Env Def in CI
  automation/mocks/bgp.yaml
  automation/mocks/pidone.yaml
  automation/net-env/bgp.yaml
  automation/net-env/pidone.yaml
  automation/net-env/uni01alpha.yaml
  automation/net-env/uni02beta.yaml
  automation/net-env/uni04delta.yaml
  automation/net-env/uni05epsilon.yaml
  automation/net-env/uni06zeta.yaml
  create-zuul-jobs.py
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-bgp, rhoso-architecture-validate-pidone

Ensure certificates are installed before Ceph is deployed
  examples/dt/uni04delta/edpm-pre-ceph/nodeset/values.yaml
  examples/va/hci/edpm-pre-ceph/nodeset/values.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-uni04delta

Deployed e841efb with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 38e1074 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Uni07eta dt
  automation/net-env/uni07eta.yaml
  automation/vars/uni07eta.yaml
  dt/uni07eta/README.md
  dt/uni07eta/cinder-volume-ontap-secrets.yaml
  dt/uni07eta/edpm/kustomization.yaml
  dt/uni07eta/edpm/nodeset/kustomization.yaml
  dt/uni07eta/kustomization.yaml
  dt/uni07eta/namespace.yaml
  dt/uni07eta/networker/kustomization.yaml
  dt/uni07eta/networker/nodeset/kustomization.yaml
  dt/uni07eta/nncp/kustomization.yaml
  dt/uni07eta/ocp-networks-octavia-netattach.yaml
  examples/dt/uni07eta/README.md
  examples/dt/uni07eta/control-plane.md
  examples/dt/uni07eta/control-plane/kustomization.yaml
  examples/dt/uni07eta/control-plane/nncp/kustomization.yaml
  examples/dt/uni07eta/control-plane/nncp/values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
  examples/dt/uni07eta/data-plane.md
  examples/dt/uni07eta/edpm/kustomization.yaml
  examples/dt/uni07eta/edpm/values.yaml
  examples/dt/uni07eta/kustomization.yaml
  examples/dt/uni07eta/networker.md
  examples/dt/uni07eta/networker/kustomization.yaml
  examples/dt/uni07eta/networker/nodeset/kustomization.yaml
  examples/dt/uni07eta/networker/nodeset/values.yaml
  examples/dt/uni07eta/networker/values.yaml
  examples/dt/uni07eta/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Update timeouts for uni-jobs
  automation/vars/default.yaml
  automation/vars/uni01alpha.yaml
  automation/vars/uni02beta.yaml
  automation/vars/uni04delta.yaml
  automation/vars/uni05epsilon.yaml
  automation/vars/uni06zeta.yaml
  automation/vars/uni07eta.yaml
Due: none

Deployed 97bac1d with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[uni02beta] Drop NFS from Glance
  dt/uni02beta/kustomization.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni02beta

Drop Redis
  dt/uni01alpha/kustomization.yaml
  dt/uni05epsilon/kustomization.yaml
  examples/dt/uni01alpha/README.md
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni05epsilon/README.md
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Enable Manila in uni02beta
  dt/uni02beta/kustomization.yaml
Due: rhoso-architecture-validate-uni02beta

Deployed b40e104 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Apply custom heat config in uni01alpha
  dt/uni01alpha/kustomization.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha

Increase timeout for uni01alpha once more
  automation/vars/uni01alpha.yaml
Due: none

Add a global flag to enable preserveJobs in all svcs
  automation/vars/default.yaml
  dt/uni05epsilon/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp/control-plane/service-values.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
  examples/va/hci/control-plane/kustomization.yaml
  examples/va/hci/control-plane/service-values.yaml
  examples/va/hci/service-values.yaml
  examples/va/nfv/ovs-dpdk-sriov/service-values.yaml
  examples/va/nfv/ovs-dpdk/service-values.yaml
  examples/va/nfv/sriov/service-values.yaml
  examples/va/pidone/service-values.yaml
  lib/control-plane/kustomization.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Deployed 9899f12 with MkDocs version: 1.6.0
  404.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Re enable ovn_emit_need_to_frag
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni06zeta

Use new EDPM 'dataSources' for custom OpenStackDataPlaneServices
  dt/bgp/edpm/nodeset/nova_custom.yaml
  dt/uni04delta/edpm/nodeset/nova_ceph.yaml
  dt/uni05epsilon/edpm/nodeset/nova_custom.yaml
  va/hci/edpm-post-ceph/nodeset/nova_ceph.yaml
  va/nfv/ovs-dpdk-sriov/edpm/nodeset/neutron_igmp.yaml
  va/nfv/ovs-dpdk-sriov/edpm/nodeset/nova_ovs_dpdk_sriov.yaml
  va/nfv/sriov/edpm/nodeset/nova_sriov.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-bgp, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon

Deployed 5845d9c with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Adapt bgp_dt01 to ci-fmw PR1777
  examples/dt/bgp/bgp_dt01/control-plane/nncp/values.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Revert "Cinder wait for DB writes on reads"
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta
