Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Path conditions:
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/mocks/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/computes-deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, examples/dt/bgp/bgp_dt01/edpm/networkers-deployment, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/mocks/pidone.yaml, examples/va/pidone, examples/va/pidone/edpm/deployment, examples/va/pidone/edpm/nodeset, examples/va/pidone/nncp, lib, va/pidone
  rhoso-architecture-validate-shiftstack: any of: automation/mocks/shiftstack.yaml, dt/shiftstack, examples/dt/shiftstack, examples/dt/shiftstack/ceph, examples/dt/shiftstack/ceph/nodeset, examples/dt/shiftstack/compute, examples/dt/shiftstack/compute/nodeset, examples/dt/shiftstack/control-plane, examples/dt/shiftstack/control-plane/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, lib
  rhoso-architecture-validate-uni06zeta: any of: dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib

Disabling octavia
  examples/dt/uni01alpha/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha

allow enabling igmp snooping
  examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset/values.yaml
  va/nfv/ovs-dpdk-sriov/edpm/nodeset/kustomization.yaml
  va/nfv/ovs-dpdk-sriov/edpm/nodeset/neutron_igmp.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk

Deployed 4d8e968 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable Octavia in Uni-Epsilon
  examples/dt/uni05epsilon/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni05epsilon

Deployed 8fb3bc3 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove unused params from pidone OSDPNS examples
  examples/va/pidone/edpm/nodeset/values.yaml
  examples/va/pidone/values.yaml
Due: rhoso-architecture-validate-pidone

LACP, balance-tcp and IGMP configs changes
  examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset/values.yaml
  examples/va/nfv/ovs-dpdk-sriov/service-values.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk

[manila] Adjust service replica counts
  examples/dt/uni02beta/control-plane/service-values.yaml
  examples/va/hci/service-values.yaml
  va/hci/edpm-post-ceph/nodeset/kustomization.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-uni02beta

Increasing nncp timeout to 3m
  automation/vars/uni01alpha.yaml
  automation/vars/uni02beta.yaml
  automation/vars/uni05epsilon.yaml
  automation/vars/uni06zeta.yaml
Due: none

Deployed 9125770 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Set mysql_wsrep_sync_wait for Glance and global debug option
  examples/dt/bgp/control-plane/service-values.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Add workarond for nova to support galera multimaster
  dt/bgp/kustomization.yaml
  dt/uni01alpha/kustomization.yaml
  dt/uni02beta/kustomization.yaml
  dt/uni04delta/kustomization.yaml
  dt/uni05epsilon/kustomization.yaml
  dt/uni06zeta/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp/control-plane/service-values.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Do not use galera multi-master capability
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

change dir name for config
  va/nfv/ovs-dpdk-sriov/edpm/nodeset/neutron_igmp.yaml
  va/nfv/ovs-dpdk-sriov/edpm/nodeset/nova_ovs_dpdk_sriov.yaml
Due: none

[BGP_DT01] Enable neutron vlan_transparency
  examples/dt/bgp/bgp_dt01/control-plane/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Remove unused BGP NADs
  dt/bgp/kustomization.yaml
  dt/bgp/networking/nad/kustomization.yaml
  dt/bgp/networking/nad/ocp_network_template.yaml
  dt/bgp/networking/nad/ocp_networks_netattach.yaml
  examples/dt/bgp/bgp_dt01/control-plane/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/nncp/values.yaml
  examples/dt/bgp/bgp_dt01/control-plane/ocp_networks_netattach.yaml
Due: rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01

Deployed 27ee3f7 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Set neutron MTU according to actual value
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni06zeta

explictly define nova cell templated instead of relying on defaulting
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Change Galera PVC request from 500M to 5G
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Deployed c7a5c2a with MkDocs version: 1.6.0
  404.html
  assets/javascripts/bundle.081f42fc.min.js
  assets/javascripts/bundle.081f42fc.min.js.map
  assets/javascripts/bundle.ad660dcc.min.js
  assets/javascripts/bundle.ad660dcc.min.js.map
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
Due: none

Disable multipath in Nova for uni05epsilon
  dt/uni05epsilon/edpm/nodeset/kustomization.yaml
  dt/uni05epsilon/edpm/nodeset/nova_custom.yaml
  examples/dt/uni05epsilon/values.yaml
Due: rhoso-architecture-validate-uni05epsilon

Set HAProxy timeout to 60 seconds for storage
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Add edpmServiceType to nova-custom-sriov srv
  va/nfv/ovs-dpdk/edpm/nodeset/nova_ovs_dpdk.yaml
  va/nfv/sriov/edpm/nodeset/nova_sriov.yaml
Due: none

Deployed 32127e2 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Glance is missing extraMounts on uni02beta
  dt/uni02beta/kustomization.yaml
Due: rhoso-architecture-validate-uni02beta

Nova filters changes
  examples/va/nfv/ovs-dpdk-sriov/service-values.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk

Remove mariadb from OpenStackControlPlane
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Change tlsCert to tlsCerts
  dt/bgp/edpm/nodeset/nova_custom.yaml
  va/hci/edpm-post-ceph/nodeset/nova_ceph.yaml
  va/nfv/ovs-dpdk-sriov/edpm/nodeset/neutron_igmp.yaml
  va/nfv/ovs-dpdk-sriov/edpm/nodeset/nova_ovs_dpdk_sriov.yaml
  va/nfv/ovs-dpdk/edpm/nodeset/nova_ovs_dpdk.yaml
  va/nfv/sriov/edpm/nodeset/nova_sriov.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-bgp

Move manila cephfs config top-level on uni04delta DT
  dt/uni04delta/edpm/nodeset/kustomization.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta
