Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Path conditions:
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/mocks/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/computes-deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, examples/dt/bgp/bgp_dt01/edpm/networkers-deployment, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/mocks/pidone.yaml, examples/va/pidone, examples/va/pidone/edpm/deployment, examples/va/pidone/edpm/nodeset, examples/va/pidone/nncp, lib, va/pidone
  rhoso-architecture-validate-shiftstack: any of: automation/mocks/shiftstack.yaml, dt/shiftstack, examples/dt/shiftstack, examples/dt/shiftstack/ceph, examples/dt/shiftstack/ceph/nodeset, examples/dt/shiftstack/compute, examples/dt/shiftstack/compute/nodeset, examples/dt/shiftstack/control-plane, examples/dt/shiftstack/control-plane/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, lib
  rhoso-architecture-validate-uni06zeta: any of: dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib

Add docs
  dt/osasinfra/README.md
  examples/dt/osasinfra/README.md
  examples/dt/osasinfra/control-plane.md
  examples/dt/osasinfra/dataplane-post-ceph.md
  examples/dt/osasinfra/dataplane-pre-ceph.md
Due: none

Create zuul job for osasinfra DT
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Deployed c23d789 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable heat for in uni02beta DT
  examples/dt/uni02beta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni02beta

[BGP] Set edpm_ovn_encap_ip value to bgpmainnet_ip
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Add ironic config to uni01alpha
  dt/uni01alpha/kustomization.yaml
  dt/uni01alpha/nad.yaml
  dt/uni01alpha/netconfig/kustomization.yaml
  dt/uni01alpha/netconfig/netconfig.yaml
  dt/uni01alpha/nncp/kustomization.yaml
  examples/dt/uni01alpha/README.md
  examples/dt/uni01alpha/control-plane/nncp/values.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
  lib/nncp/ocp_node_template.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Deployed 37cb58a with MkDocs version: 1.6.0
  404.html
  assets/javascripts/bundle.ad660dcc.min.js
  assets/javascripts/bundle.ad660dcc.min.js.map
  assets/javascripts/bundle.fe8b6f2b.min.js
  assets/javascripts/bundle.fe8b6f2b.min.js.map
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Don't use symlinks for automation/net-env/
  automation/net-env/uni01alpha.yaml
  automation/net-env/uni04delta.yaml
  automation/net-env/uni05epsilon.yaml
  automation/net-env/uni06zeta.yaml
  automation/net-env/uni07eta.yaml
Due: none

uni04delta-ipv6
  automation/mocks/uni04delta-ipv6.yaml
  automation/net-env/uni04delta-ipv6.yaml
  automation/vars/uni04delta-ipv6.yaml
  dt/uni04delta-ipv6/README.md
  dt/uni04delta-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  dt/uni04delta-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/edpm/deployment/kustomization.yaml
  dt/uni04delta-ipv6/edpm/nodeset/ceph_secret.yaml
  dt/uni04delta-ipv6/edpm/nodeset/extra_mounts.yaml
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/edpm/nodeset/nova_ceph.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/nad.yaml
  dt/uni04delta-ipv6/namespace.yaml
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/.gitignore
  examples/dt/uni04delta-ipv6/README.md
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/.gitignore
  examples/dt/uni04delta-ipv6/control-plane/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/.gitignore
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
  examples/dt/uni04delta-ipv6/deployment/kustomization.yaml
  examples/dt/uni04delta-ipv6/deployment/values.yaml
  examples/dt/uni04delta-ipv6/edpm-pre-ceph/.gitignore
  examples/dt/uni04delta-ipv6/edpm-pre-ceph/kustomization.yaml
  examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset/.gitignore
  examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/uni04delta-ipv6/edpm-pre-ceph/values.yaml
  examples/dt/uni04delta-ipv6/kustomization.yaml
  examples/dt/uni04delta-ipv6/values.yaml
  lib/nncp/ocp_node_template.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

[DNM] Increase sriov controlplane timeout
  automation/vars/default.yaml
Due: none

[BGP] Install conntrack on EDPM nodes
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

[BGP] Set edpm_ovn_encap_ip value to bgpmainnet_ip
  automation/vars/bgp.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt01/edpm/networkers/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Defaults to 3-node galera
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Fix indent in VA1 example doc
  examples/va/hci/dataplane-post-ceph.md
Due: rhoso-architecture-validate-hci

Deployed 4750c1a with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

OSASINFRA: Adjust timeouts to match va-hci ones
  automation/vars/osasinfra.yaml
  examples/dt/osasinfra/control-plane.md
  examples/dt/osasinfra/dataplane-post-ceph.md
  examples/dt/osasinfra/dataplane-pre-ceph.md
Due: none

Deployed c21c52a with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Update automation/net-env/uni04delta.yaml mock
  automation/net-env/uni04delta.yaml
Due: none

Fix missing octavia-ca-passphrase secret
  dt/uni06zeta/kustomization.yaml
Due: rhoso-architecture-validate-uni06zeta

Deployed 6a7e08b with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 67c89bd with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Epsilon: Re-enable multipath
  dt/uni05epsilon/edpm/nodeset/nova_custom.yaml
Due: rhoso-architecture-validate-uni05epsilon

Increase osctlplane controlplane waiting time for Ready condition
  automation/vars/default.yaml
Due: none

Deployed b391da3 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

WIP: Add BGP DT02
  automation/vars/bgp.yaml
  examples/dt/bgp/bgp_dt01/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt02/control-plane/kustomization.yaml
  examples/dt/bgp/bgp_dt02/control-plane/metallb_bgppeers.yaml
  examples/dt/bgp/bgp_dt02/control-plane/nncp
  examples/dt/bgp/bgp_dt02/control-plane/ocp_network_template.yaml
  examples/dt/bgp/bgp_dt02/control-plane/ocp_networks_netattach.yaml
  examples/dt/bgp/bgp_dt02/control-plane/service-values.yaml
  examples/dt/bgp/bgp_dt02/edpm/computes/kustomization.yaml
  examples/dt/bgp/bgp_dt02/edpm/computes/values.yaml
  examples/dt/bgp/bgp_dt02/edpm/networkers/kustomization.yaml
  examples/dt/bgp/bgp_dt02/edpm/networkers/values.yaml
Due: rhoso-architecture-validate-bgp_dt01

Disable Horizon service temporarily
  dt/uni04delta-ipv6/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta

Deployed 3f8799f with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable heat in uni02beta DT
  dt/uni02beta/kustomization.yaml
Due: rhoso-architecture-validate-uni02beta

Enable heat in uni02beta DT (fix)
  dt/uni02beta/kustomization.yaml
Due: rhoso-architecture-validate-uni02beta

Deployed 993a4a1 with MkDocs version: 1.6.0
  404.html
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  assets/stylesheets/main.76a95c52.min.css
  assets/stylesheets/main.76a95c52.min.css.map
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[Uni Eta] Set mtu same as Uni Zeta
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: none

Deployed 46a53a8 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Re-enable cinder multipath in glance
  dt/uni05epsilon/edpm/nodeset/nova_custom.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

uni-delta: really enable cinder-backup (set replicas)
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta/edpm/nodeset/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta
