Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Path conditions:
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/mocks/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/computes-deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, examples/dt/bgp/bgp_dt01/edpm/networkers-deployment, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/mocks/pidone.yaml, examples/va/pidone, examples/va/pidone/edpm/deployment, examples/va/pidone/edpm/nodeset, examples/va/pidone/nncp, lib, va/pidone
  rhoso-architecture-validate-shiftstack: any of: automation/mocks/shiftstack.yaml, dt/shiftstack, examples/dt/shiftstack, examples/dt/shiftstack/ceph, examples/dt/shiftstack/ceph/nodeset, examples/dt/shiftstack/compute, examples/dt/shiftstack/compute/nodeset, examples/dt/shiftstack/control-plane, examples/dt/shiftstack/control-plane/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, lib
  rhoso-architecture-validate-uni06zeta: any of: dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib

added aditional required config for VA2
  examples/va/nfv/ovs-dpdk-sriov/nncp/values.yaml
  examples/va/nfv/ovs-dpdk-sriov/service-values.yaml
  examples/va/nfv/ovs-dpdk/nncp/values.yaml
  examples/va/nfv/ovs-dpdk/service-values.yaml
  examples/va/nfv/sriov/nncp/values.yaml
  examples/va/nfv/sriov/service-values.yaml
  va/nfv/ovs-dpdk-sriov/kustomization.yaml
  va/nfv/ovs-dpdk/kustomization.yaml
  va/nfv/sriov/kustomization.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-sriov

alpha + zeta: Fix for node IPs starting from 10
  examples/dt/uni01alpha/control-plane/nncp/values.yaml
  examples/dt/uni06zeta/control-plane/nncp/values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni06zeta

Use DataPlaneService.DataSources
  va/nfv/ovs-dpdk/edpm/nodeset/nova_ovs_dpdk.yaml
Due: none

Deployed a1492fb with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Glance over cinder (iSCSI) backend
  dt/uni07eta/kustomization.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: none

Update glance storageClass propagation
  lib/control-plane/kustomization.yaml
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Revert mysql_wsrep_sync_wait config option
  examples/dt/bgp/control-plane/service-values.yaml
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Deployed 9647d68 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Revert "Re enable ovn_emit_need_to_frag"
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni06zeta

Add details about the format of the post Ceph values.yaml
  examples/dt/uni04delta/edpm.md
  examples/va/hci/dataplane-post-ceph.md
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-uni04delta

[DNM] Increase sriov controlplane timeout
  automation/vars/default.yaml
Due: none

Deployed 927551d with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

add worker to beta
  automation/net-env/uni02beta.yaml
  automation/vars/uni02beta.yaml
  examples/dt/uni02beta/control-plane/nncp/kustomization.yaml
  examples/dt/uni02beta/control-plane/nncp/nodes.yaml
  examples/dt/uni02beta/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni02beta

Deployed e14d12a with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Revert "Add tainted worker to unibeta"
  automation/net-env/uni02beta.yaml
  automation/vars/uni02beta.yaml
  examples/dt/uni02beta/control-plane/nncp/kustomization.yaml
  examples/dt/uni02beta/control-plane/nncp/nodes.yaml
  examples/dt/uni02beta/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni02beta

temp
  examples/va/compute/compute-starter-kit/control-plane/infra.yaml
  examples/va/compute/compute-starter-kit/nncp/values.yaml
Due: none

epsilone: Do not force config drive
  dt/uni05epsilon/edpm/nodeset/nova_custom.yaml
Due: rhoso-architecture-validate-uni05epsilon

Add tainted worker to unibeta
  automation/net-env/uni02beta.yaml
  examples/dt/uni02beta/control-plane/nncp/kustomization.yaml
  examples/dt/uni02beta/control-plane/nncp/nodes.yaml
  examples/dt/uni02beta/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni02beta

Unique pod names for cinder and glance
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Deployed 097c1f6 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Bump service replicas to 3
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

[Neutron]Increase neutron_api replicas to 3
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Always set glance replicas to 3
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
  examples/dt/uni05epsilon/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Deployed 1de4a7f with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Set UNI-Beta to replica: 1
  examples/dt/uni02beta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni02beta

Enable heat for zeta and eta env
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni06zeta

Don't use symlinks for automation/net-env/
  automation/net-env/uni01alpha.yaml
  automation/net-env/uni02beta.yaml
  automation/net-env/uni04delta.yaml
  automation/net-env/uni05epsilon.yaml
  automation/net-env/uni06zeta.yaml
  automation/net-env/uni07eta.yaml
Due: none

HCI+NFV architecture
  examples/va/nfv/hci-ovs-dpdk-sriov/.gitignore
  examples/va/nfv/hci-ovs-dpdk-sriov/README.md
  examples/va/nfv/hci-ovs-dpdk-sriov/control-plane.md
  examples/va/nfv/hci-ovs-dpdk-sriov/control-plane/kustomization.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/control-plane/nncp/kustomization.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/control-plane/nncp/values.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/control-plane/service-values.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/dataplane-post-ceph.md
  examples/va/nfv/hci-ovs-dpdk-sriov/dataplane-pre-ceph.md
  examples/va/nfv/hci-ovs-dpdk-sriov/deployment/kustomization.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/deployment/values.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/.gitignore
  examples/va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/deployment/.gitignore
  examples/va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/deployment/kustomization.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/deployment/values.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/nodeset/.gitignore
  examples/va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/nodeset/values.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/kustomization.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/service-values.yaml
  examples/va/nfv/hci-ovs-dpdk-sriov/values.yaml
  va/nfv/hci-ovs-dpdk-sriov/README.md
  va/nfv/hci-ovs-dpdk-sriov/control-plane-pre-ceph/kustomization.yaml
  va/nfv/hci-ovs-dpdk-sriov/control-plane-pre-ceph/namespace.yaml
  va/nfv/hci-ovs-dpdk-sriov/control-plane-pre-ceph/policy.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-post-ceph/deployment/kustomization.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-post-ceph/nodeset/baremetalset-password-secret.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-post-ceph/nodeset/ceph_secret.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-post-ceph/nodeset/extra_mounts.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-post-ceph/nodeset/kustomization.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-post-ceph/nodeset/neutron_igmp.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-post-ceph/nodeset/nova_ovs_dpdk_sriov_ceph.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/deployment/kustomization.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/nodeset/baremetalset-password-secret.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/nodeset/kustomization.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/nodeset/neutron_igmp.yaml
  va/nfv/hci-ovs-dpdk-sriov/edpm-pre-ceph/nodeset/nova_ovs_dpdk_sriov.yaml
  va/nfv/hci-ovs-dpdk-sriov/kustomization.yaml
  va/nfv/hci-ovs-dpdk-sriov/namespace.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov

OSASINFRA DT
  automation/vars/osasinfra.yaml
  dt/osasinfra/edpm-post-ceph/deployment/kustomization.yaml
  dt/osasinfra/edpm-post-ceph/nodeset/ceph_secret.yaml
  dt/osasinfra/edpm-post-ceph/nodeset/extra_mounts.yaml
  dt/osasinfra/edpm-post-ceph/nodeset/kustomization.yaml
  dt/osasinfra/edpm-pre-ceph/deployment/kustomization.yaml
  dt/osasinfra/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/osasinfra/kustomization.yaml
  dt/osasinfra/namespace.yaml
  dt/osasinfra/nncp/kustomization.yaml
  dt/osasinfra/ocp_networks_octavia_netattach.yaml
  examples/dt/osasinfra/.gitignore
  examples/dt/osasinfra/control-plane/.gitignore
  examples/dt/osasinfra/control-plane/kustomization.yaml
  examples/dt/osasinfra/control-plane/nncp/.gitignore
  examples/dt/osasinfra/control-plane/nncp/kustomization.yaml
  examples/dt/osasinfra/control-plane/nncp/values.yaml
  examples/dt/osasinfra/control-plane/service-values.yaml
  examples/dt/osasinfra/deployment/kustomization.yaml
  examples/dt/osasinfra/deployment/values.yaml
  examples/dt/osasinfra/edpm-pre-ceph/.gitignore
  examples/dt/osasinfra/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/osasinfra/edpm-pre-ceph/deployment/values.yaml
  examples/dt/osasinfra/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/osasinfra/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/osasinfra/kustomization.yaml
  examples/dt/osasinfra/service-values.yaml
  examples/dt/osasinfra/values.yaml
Due: none
