Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Path conditions:
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/mocks/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/computes-deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, examples/dt/bgp/bgp_dt01/edpm/networkers-deployment, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/mocks/pidone.yaml, examples/va/pidone, examples/va/pidone/edpm/deployment, examples/va/pidone/edpm/nodeset, examples/va/pidone/nncp, lib, va/pidone
  rhoso-architecture-validate-shiftstack: any of: automation/mocks/shiftstack.yaml, dt/shiftstack, examples/dt/shiftstack, examples/dt/shiftstack/ceph, examples/dt/shiftstack/ceph/nodeset, examples/dt/shiftstack/compute, examples/dt/shiftstack/compute/nodeset, examples/dt/shiftstack/control-plane, examples/dt/shiftstack/control-plane/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, lib
  rhoso-architecture-validate-uni06zeta: any of: dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib

Deployed 8cb4e08 with MkDocs version: 1.6.1
  404.html
  contributing/cherry-picking/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Drop default.yaml file
  automation/vars/default.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Introduce "OSP" infra snippet in the automation file
  automation/vars/hci.yaml
Due: none

Move bgp_dt01 into its own automation file
  automation/vars/bgp.yaml
  automation/vars/bgp_dt01.yaml
Due: none

Introduce "adoption" snippet in the automation file
  .ci/automation-schema.yaml
  automation/vars/hci.yaml
Due: none

Deployed 05942d3 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.56dfad97.min.js
  assets/javascripts/bundle.56dfad97.min.js.map
  assets/javascripts/bundle.af256bd8.min.js
  assets/javascripts/bundle.af256bd8.min.js.map
  assets/javascripts/workers/search.07f07601.min.js
  assets/javascripts/workers/search.07f07601.min.js.map
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/stylesheets/main.35f28582.min.css
  assets/stylesheets/main.35f28582.min.css.map
  assets/stylesheets/main.3cba04c6.min.css
  assets/stylesheets/main.3cba04c6.min.css.map
  contributing/cherry-picking/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Revert "Move bgp_dt01 into its own automation file"
  automation/vars/bgp.yaml
  automation/vars/bgp_dt01.yaml
Due: none

Ensure we have one scenario per automation file
  .ci/automation-schema.yaml
  .ci/validate-schema-paths.py
Due: none

dnm prow job check
  create-zuul-jobs.py
Due: none

Add 'local' network type in the Control Plane CRs
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni06zeta

Deployed 2de98f5 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable Downstream trigger job in the architecture repo
  create-zuul-jobs.py
  zuul.d/projects.yaml
  zuul.d/trigger-jobs.yaml
Due: none

hci fixes
  automation/mocks/nfv-ovs-dpdk-sriov-hci.yaml
  automation/vars/nfv-ovs-dpdk-sriov-hci.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment/values.yaml
  zuul.d/validations.yaml
Due: none

Testing
  examples/dt/uni01alpha/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha

[POC] Add input variable and files for adoption 17.1 env
  automation/adoption/hci/config-download.yaml
  automation/adoption/hci/network_data.yaml
  automation/adoption/hci/osd_spec.yaml
  automation/adoption/hci/overcloud_services.yaml
  automation/adoption/hci/roles.yaml
  automation/adoption/hci/vips_data.yaml
  automation/vars/hci.yaml
Due: none

[uni01alpha] Enable octavia
  examples/dt/uni01alpha/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha

add Octavia services to customServiceConfig
  dt/uni07eta/kustomization.yaml
Due: none

Backport default.yaml split patches
  .ci/automation-schema.yaml
  .ci/validate-schema-paths.py
  automation/mocks/nfv-ovs-dpdk-sriov-hci.yaml
  automation/vars/bgp_dt01.yaml
  automation/vars/default.yaml
  automation/vars/hci.yaml
  automation/vars/nfv-ovs-dpdk-sriov-hci.yaml
  automation/vars/ovs-dpdk-sriov.yaml
  automation/vars/ovs-dpdk.yaml
  automation/vars/sriov.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment/values.yaml
  zuul.d/validations.yaml
Due: none

[Uni02Beta] Install conntrack on EDPM nodes
  examples/dt/uni02beta/values.yaml
Due: rhoso-architecture-validate-uni02beta

Add trigger-downstream-job github workflow
  .github/workflows/trigger-downstream-gh-action-job.yaml
Due: none

Deployed 538ac02 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Update service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: none

Update values.yaml
  examples/dt/uni07eta/control-plane/nncp/values.yaml
Due: none

Deployed 9ee9c47 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Move automation default vars into seperate scenario files
  automation/vars/hci.yaml
  automation/vars/nfv-ovs-dpdk-sriov-hci.yaml
  automation/vars/ovs-dpdk-sriov.yaml
  automation/vars/ovs-dpdk.yaml
  automation/vars/sriov.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

[delta-ipv6] Shared control plane vars
  dt/uni04delta-ipv6/control-plane/kustomization.yaml
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta

Deployed 7b38f23 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Install conntrack on EDPM nodes
  examples/dt/uni02beta/values.yaml
Due: rhoso-architecture-validate-uni02beta

Document using openshift-cherrypick-robot
  docs/contributing/cherry-picking.md
Due: none

Deployed 21ece11 with MkDocs version: 1.6.1
  contributing/cherry-picking/index.html
  search/search_index.json
Due: none

Add NFS network for Manila to uni04delta
  automation/net-env/uni04delta.yaml
  dt/uni04delta/kustomization.yaml
  dt/uni04delta/networking/kustomization.yaml
  dt/uni04delta/networking/metallb/kustomization.yaml
  dt/uni04delta/networking/metallb/metallb_l2advertisement.yaml
  dt/uni04delta/networking/metallb/ocp_ip_pool_template.yaml
  dt/uni04delta/networking/metallb/ocp_ip_pools.yaml
  dt/uni04delta/networking/nad/kustomization.yaml
  dt/uni04delta/networking/nad/ocp_network_template.yaml
  dt/uni04delta/networking/nad/ocp_networks_netattach.yaml
  dt/uni04delta/networking/netconfig/kustomization.yaml
  dt/uni04delta/networking/netconfig/netconfig.yaml
  dt/uni04delta/nncp/kustomization.yaml
  dt/uni04delta/nncp/ocp_node_template.yaml
  dt/uni04delta/nncp/ocp_nodes_nncp.yaml
  examples/dt/uni04delta/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta/control-plane/nncp/values.yaml
  examples/dt/uni04delta/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/uni04delta/values.yaml
Due: rhoso-architecture-validate-uni04delta
