Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Path conditions:
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/mocks/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/computes-deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, examples/dt/bgp/bgp_dt01/edpm/networkers-deployment, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/mocks/pidone.yaml, examples/va/pidone, examples/va/pidone/edpm/deployment, examples/va/pidone/edpm/nodeset, examples/va/pidone/nncp, lib, va/pidone
  rhoso-architecture-validate-shiftstack: any of: automation/mocks/shiftstack.yaml, dt/shiftstack, examples/dt/shiftstack, examples/dt/shiftstack/ceph, examples/dt/shiftstack/ceph/nodeset, examples/dt/shiftstack/compute, examples/dt/shiftstack/compute/nodeset, examples/dt/shiftstack/control-plane, examples/dt/shiftstack/control-plane/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, lib
  rhoso-architecture-validate-uni06zeta: any of: dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib

Deployed 904343d with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Allow to customize operators subscription channel
  examples/common/olm/values.yaml
  lib/olm-openstack/kustomization.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Do not quote ctlplane_dns_nameservers list in delta-ipv6
  examples/dt/uni04delta-ipv6/values.yaml
Due: rhoso-architecture-validate-uni04delta

Workaround IPv6 DNS problem with hardcoded server
  examples/dt/uni04delta-ipv6/values.yaml
Due: rhoso-architecture-validate-uni04delta

Revert "Revert "Re enable ovn_emit_need_to_frag""
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni04delta/control-plane/service-values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni06zeta

Deployed 7ecf63f with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[BGP_DT01] Enable octavia
  automation/mocks/bgp_dt01.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
Due: rhoso-architecture-validate-bgp_dt01

[nfv] Bump controlplane timeout
  automation/vars/default.yaml
Due: none

DNM: test enable octavia
  examples/dt/uni01alpha/control-plane/service-values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni01alpha

Deployed 5acf3e4 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable Horizon in delta-ipv6
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta

Revert "Disable Horizon service temporarily"
  dt/uni04delta-ipv6/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta

Deployed ecf8474 with MkDocs version: 1.6.0
  404.html
  assets/stylesheets/main.3cba04c6.min.css
  assets/stylesheets/main.3cba04c6.min.css.map
  assets/stylesheets/main.76a95c52.min.css
  assets/stylesheets/main.76a95c52.min.css.map
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

explictly define nova cell templated instead of relying on defaulting
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

[uni02beta] Reenable file/NFS for glance
  dt/uni02beta/kustomization.yaml
  examples/dt/uni02beta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni02beta

Deployed 7e113ed with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[DNM] Test adding fixedIPs directly to SR-IOV example
  examples/va/nfv/sriov/edpm/nodeset/values.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-sriov

Keep octavia disabled for now
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni06zeta

Add flat network type to neutron config
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni06zeta

[uni06zeta] Add configurations for supporting octavia.
  dt/uni06zeta/kustomization.yaml
  dt/uni06zeta/nncp/kustomization.yaml
  dt/uni06zeta/resources/octavia-network-attachment-definition.yaml
  dt/uni06zeta/resources/octavia-network-attachment-defintion.yaml
  examples/dt/uni06zeta/README.md
  examples/dt/uni06zeta/control-plane/nncp/kustomization.yaml
  examples/dt/uni06zeta/control-plane/nncp/values.yaml
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni06zeta

Deployed fbfb1a6 with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

DNM: test enable octavia in uni06zeta
  examples/dt/uni06zeta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni06zeta

[uni04delta-ipv6] Add octavia
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/nad.yaml
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/README.md
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta

Add ovn-encap-tos inherit to delta-ipv6
  examples/dt/uni04delta-ipv6/values.yaml
Due: rhoso-architecture-validate-uni04delta

Deployed 515502b with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Disable extra mount in uni02beta
  dt/uni02beta/kustomization.yaml
Due: rhoso-architecture-validate-uni02beta

HCI+NFV architecture
  automation/vars/default.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/.gitignore
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/README.md
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane.md
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/kustomization.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp/kustomization.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp/values.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/service-values.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/dataplane-post-ceph.md
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/dataplane-pre-ceph.md
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/deployment/kustomization.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/deployment/values.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment/kustomization.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment/values.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/values.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/kustomization.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/service-values.yaml
  examples/va/nfv/nfv-ovs-dpdk-sriov-hci/values.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/README.md
  va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane-pre-ceph/kustomization.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane-pre-ceph/namespace.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/control-plane-pre-ceph/policy.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/deployment/kustomization.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/baremetalset-password-secret.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/ceph_secret.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/extra_mounts.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/kustomization.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/neutron_igmp.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-post-ceph/nodeset/nova_ovs_dpdk_sriov_ceph.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment/kustomization.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/baremetalset-password-secret.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/kustomization.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/neutron_igmp.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset/nova_ovs_dpdk_sriov.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/kustomization.yaml
  va/nfv/nfv-ovs-dpdk-sriov-hci/namespace.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-ovs-dpdk-sriov

[manila][update] Use CephFS NFS as backend for update job
  examples/va/hci/service-values.yaml
Due: rhoso-architecture-validate-hci

Deploy 2 replicas of DNS per default
  lib/control-plane/openstackcontrolplane.yaml
Due: rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-shiftstack, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta

Deployed ed224d8 with MkDocs version: 1.6.0
  404.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Readme update for uni05epsilon
  examples/dt/uni05epsilon/README.md
  examples/dt/uni05epsilon/data-plane.md
  examples/dt/uni05epsilon/dataplane-post-ceph.md
  examples/dt/uni05epsilon/dataplane-pre-ceph.md
Due: rhoso-architecture-validate-uni05epsilon
